[2019-02-21 10:02] matyix opened #15 "Wait for Galley"
Wait until galley is up and running and only create CRDs after that

[2019-02-21 10:02] matyix opened #16 "Mixer policy and telemetry logs are showing random errors"
... but they seem to be working fine

[2019-02-21 10:04] matyix opened #17 "Resource cleanups (during reconcile)"
When the Istio config CR is deleted during reconciling, some resources are left over

[2019-02-21 10:07] matyix opened #18 "Review update reconcile flow"
- check if updating the `ResourceVersion` is needed
- check if we can use deepCopy or 2WayMerge to compare the current state with the desired and only update if necessary

[2019-02-21 10:07] matyix opened #19 "Test Prometheus metrics telemetry"
Test if Prometheus metrics telemetry - `https://istio.io/docs/tasks/telemetry/metrics-logs/` is working fine

[2019-02-21 10:08] matyix opened #20 "Logging object kinds doesn't work"

[2019-02-21 10:08] matyix opened #21 "Logging improvements"

[2019-02-21 10:09] matyix opened #22 "Operator-rbac -> shouldn't be full admin"
(use `escalate` from 1.12)

[2019-02-21 10:10] matyix opened #23 "Show current state"
Istio config CRD status should show the current state (components available, etc)

[2019-02-21 10:11] matyix opened #24 "Slow CRD creation"
Parallelize CRD config creation, now it's rather slow

[2019-02-21 10:12] matyix opened #25 "Use Istio client package"
Once Istio will have a proper client package, use that instead of dynamic clients

[2019-02-21 10:13] matyix opened #26 "mTLS support"
Enable mTLS

[2019-02-21 10:13] matyix opened #27 "Privileged Envoy containers"
Remove privileged Envoy containers

[2019-02-21 10:14] matyix opened #28 "Control Plane security"
Enable Control Plane security

[2019-02-21 10:14] matyix opened #29 "Test improvements"
Test if objects are actually created

[2019-02-21 10:15] matyix opened #30 "[EPIC] Istio 1.1 support"
Add support for Istio master (1.1) instead of 1.0.5 only

[2019-02-21 10:16] matyix opened #31 "Configurable node affinities"
Add configurable node affinities per Istio components

[2019-02-21 10:16] matyix opened #32 "[EPIC] Canary releases"

[2019-02-21 10:18] matyix opened #33 "[EPIC] Multi Cluster"
- [x]  flat federation
- [ ]   gateway federation

[2019-02-21 16:55] #19 closed, assigned to nobody

[2019-02-21 16:59] martonsereg opened #38 "configurable replicaCount and HPA rules for Istio components"

[2019-02-21 16:59] martonsereg opened #39 "configurable `includeIPRanges` and `excludeIPRanges` to enable direct egress traffic"

[2019-02-21 17:00] martonsereg opened #40 "Kiali support"

[2019-02-21 17:02] martonsereg opened #41 "integration with Prometheus/Grafana/Jaeger"
the Helm chart can install all of these, but it's probably not the scope of the operator to manage these components, but we should figure out how to integrate them.

[2019-02-22 09:36] #26 closed, assigned to Laci21

[2019-02-22 10:30] waynz0r opened #42 "Use runtime client for dynamic calls as well"

[2019-02-22 10:33] waynz0r opened #43 "Assess using manager for remote cluster communication"

[2019-02-22 12:30] martonsereg opened #44 "Enable auto-injection in specific namespaces from CR configuration"

[2019-02-24 13:49] #39 closed, assigned to waynz0r

[2019-02-25 08:59] #44 closed, assigned to martonsereg

[2019-02-25 09:46] #28 closed, assigned to martonsereg

[2019-02-25 09:47] martonsereg opened #48 "Enable only one Istio config per cluster"

[2019-02-25 09:51] martonsereg opened #49 "Remote configs should depend on master configuration"
e.g.: control plane security

[2019-02-25 10:41] martonsereg opened #50 "watch all resources created by the operator"
for now only the main config CR is watched, so if anything changes with the Istio resources, the operator won't kick off the reconciling logic.

[2019-02-25 10:53] martonsereg opened #51 "Being able to turn on/off mTLS by updating the config value"
This scenario should work:
- A cluster is created with `mTLS` disabled. (the default `MeshPolicy` is created)
- `mTLS` value is enabled in the config - the operator triggers reconciling, the default MeshPolicy should be updated, DestinationRules should be created
- `mTLS` value is disabled - the operator triggers reconciling, the default MeshPolicy should be updated, DestinationRules should be del

[2019-02-26 09:55] #17 closed, assigned to martonsereg

[2019-02-26 10:08] #23 closed, assigned to martonsereg

[2019-02-26 13:21] #20 closed, assigned to nobody

[2019-02-26 13:21] #18 closed, assigned to Laci21, waynz0r

[2019-02-26 17:55] #38 closed, assigned to Laci21

[2019-02-26 18:08] #51 closed, assigned to Laci21

[2019-02-26 19:06] martonsereg opened #57 "Rename custom resources"

[2019-02-27 09:45] #48 closed, assigned to waynz0r

[2019-02-27 12:42] martonsereg commented on #57
New CRD group is `istio.banzaicloud.io`, the custom resources are `Istio` and `RemoteIstio`.

[2019-02-27 12:42] martonsereg commented on #57
PR for the renames: https://github.com/banzaicloud/istio-operator/pull/61

[2019-02-27 12:42] #57 closed

[2019-02-27 13:47] matyix opened #62 "Integrate with the Banzai Cloud Kafka operator"
**Is your feature request related to a problem? Please describe.**

Add support/integration with the Banzai Cloud Kafka Operator. The Kafka Operator already orchestrates an Envoy proxy in order to route external broker access towards the broker pod - instead of relying on the load balancer's e.g. `round-robin` feature. While brokers come and go (autoscaling, failovers, etc) the Kafka operator alre

[2019-02-27 16:14] martonsereg opened #65 "Ability to disable gateways"

[2019-02-27 16:16] martonsereg opened #66 "Configurable docker images for different components"

[2019-02-27 19:37] rshriram opened #68 "Multicluster docs/impl out of sync"
Nice work on the operator folks.. With regard to the multicluster setup, we have updated the multicluster setup a while ago. You no longer need a vpn for the single control plane-noHA option - i.e. no longer need unique pod CIDRs..

Secondly, there is a much more simpler multicluster option with two control planes (one on each cluster), and pods communicating with each other via the gateways. I be

[2019-02-27 19:43] rshriram opened #69 "Any custom builds with 1.1 ?"
are there any releases/branches that support the 1.1 series (or the rc0)? if not, we would be happy to help..
cc @costinm @sdake

[2019-02-27 19:53] matyix commented on #69
Hello @rshriram - thanks for reaching out. There is no branch yet, we were just about to kick it off (see #30). Any help is more than welcome, so if you are willing to work on this we'd be happy to accept PR's/work with you guys on this.

[2019-02-27 19:53] rshriram commented on #69
Also, could you guys

[2019-02-27 19:53] #69 closed

[2019-02-27 19:54] rshriram commented on #30
what is involved in updating the code to do this?

[2019-02-27 20:18] waynz0r commented on #68
@rshriram thanks for checking out the operator.

If you are referring the split-horizon EDS setup, afaik it needs Istio v1.1, so it is something that we are planning to add into the Istio v1.1 support of the operator.

As for the `gateway multi-cluster` setup, it is also on our roadmap. (see #33)

[2019-02-27 20:37] waynz0r commented on #30
@rshriram  Our main priority was to provide support for Istio 1.0.x first. We were just started working on Istio v1.x support, how big change will that need on the current codebase is not yet clear.

It would be great if you can help us to bring this feature out asap!

We have a dedicated channel on our slack, if you like to join to the conversation https://slack.banzaicloud.io #istio-operator

[2019-02-28 07:11] Laci21 commented on #50
#64 will fix this

[2019-02-28 20:13] StevenACoffman commented on #32
From your [Roadmap](https://banzaicloud.com/blog/istio-operator/#roadmap):

Please strongly consider either adopting or combining efforts with existing [flagger](https://github.com/stefanprodan/flagger) istio operator.

Flagger is a Kubernetes operator that automates the promotion of canary deployments using Istio routing for traffic shifting and Prometheus metrics for canary analysis. The canary

[2019-02-28 21:14] matyix commented on #32
Oh, we know @stefanprodan and highly regard the work he did with flagger. We don't want to reinvent the wheel - among many PoC we did in this topic it's by far the best solution (flagger, I mean).

Due to some customer constraints, this is off the short 2-4 week roadmap anyways, as our current focus is Istio 1.1 support, seamless version upgrades (even from helm->operator based) and remote cluster

[2019-03-01 05:29] #66 closed

[2019-03-01 10:13] stefanprodan commented on #32
Hey @matyix thanks for the kind words. Let's have a talk when you get to the canary feature, I'll really like to get your feedback on Flagger. I'm `stefanprodan` on Kubernetes slack.

[2019-03-01 12:29] waynz0r opened #73 "Handle HPA triggered object changes in the reconciling logic"
We should consider HPA made changes to prevent the reconciliation logic reverting those changes.

[2019-03-01 12:36] chriscowley commented on #41
not one of the devs, but I believe for Jaeger you simply need to control the `defaultConfig.zipkinAddress` in the istio `configMap`.

Is this more of a documentation issue than an enhancement?

[2019-03-01 12:47] waynz0r commented on #41
@chriscowley for using an existing Jaeger that would be probably enough, although we want to make it explicitly configurable in the custom resource describing Istio config.

[2019-03-01 13:22] chriscowley commented on #41
@waynz0r certainly that would be a good MVP for tracing support.

For what its worth I just tried adding a service that matched the default value for `defaultConfig.zipkinAddress` in the operator that pointed to a Jaeger pod. Nothing :( no traces at all

Is there anyone at Banzai who has POCed something similar?

[2019-03-01 14:38] waynz0r commented on #41
@chriscowley it should work, we are looking into it!

[2019-03-01 16:02] waynz0r opened #75 "Configurable pilot tracing sample setting"
Istio defaults to generating trace spans for 1 out of every 100 requests (sampling rate of of 1%).

We should allow this value to be configured in the CR.

[2019-03-01 16:10] waynz0r commented on #41
@chriscowley by our tests it generally works, but the default sampling rate is 1 out of every 100 requests. I created an issue to support changing this value (see #75).

Right now you can change it by editing the `pilot` deployment `discovery` container's `PILOT_TRACE_SAMPLING` env variable. Try change it to 100 for testing, you should see spans popping up in Jaeger.

[2019-03-01 22:37] mabushey opened #76 "Unable to attach annotations to gateway"
**Describe the bug**
Unable to attach cert to ELB

Need to attach these annotations:
[code]

The good news is the ELB already comes up as TCP. :) This is a huge improvement.

[2019-03-02 05:37] martonsereg commented on #76
Thanks for reporting.
We’re working on getting on par with the Helm chart regarding configuration options, but just not there yet.
We’ll try to add this soon.

[2019-03-02 10:38] #76 closed

[2019-03-02 12:28] matyix commented on #76
Hello @mabushey - thanks for reporting this, we have just added the feature and released [0.0.6](https://github.com/banzaicloud/istio-operator/releases/tag/0.0.6). `make deploy` should deploy the new version, please let us know how it works for you.

[2019-03-02 16:01] #75 closed

[2019-03-02 16:24] waynz0r commented on #41
@chriscowley we have just released v0.0.7 with the feature to allow sampling rate configuration in the CR.

Please let us know if you still have tracing problem!

[2019-03-02 17:46] #73 closed

[2019-03-03 08:04] chriscowley commented on #41
@waynz0r 1 out of 100 seems a little light - certainly explains why I was seeing nothing from ~20 page refreshes of the bookinfo app.

I'll test it during the week.

[2019-03-03 08:45] chriscowley commented on #41
Got bored and tested it anyway. The variable you added works perfectly, but there is still one piece of "glue" I needed to add.

The Istio seems to be hardwired to send the tracing sample to `zipkin:16686`. The Jaeger operator creates a service called `<jaeger-name>-query` which includes port 16686. I had to add a service that replicated that service called `zipkin` (my jaeger instance is called "

[2019-03-03 11:08] waynz0r commented on #41
@chriscowley thanks for the feedback!

The operator managed Istio components send tracing to `zipkin.istio-system:9411`, but creating that service is outside of the operator's scope right know.

The `enabledServices` variable is in the `RemoteIstio` spec and based on that the operator will create selectorless services at the remote side and keeps the endpoint IP of those services in sync with the

[2019-03-05 01:43] jtimdwyer commented on #76
Hi @matyix, this is great and seems to work perfectly! For reference the following config brought up the desired load balancer with a certificate on the 443 listener as desired.

[code]

[2019-03-05 06:26] matyix commented on #76
Thanks @jtimdwyer for reporting back - please let us know if you face other problems or have improvement suggestions.

[2019-03-05 08:47] martonsereg opened #81 "[Istio 1.1] Configurable SDS & nodeagent for Istio 1.1"
Prior to Istio 1.1, the keys and certificates of Istio workloads were generated by Citadel and distributed to sidecars through secret-volume mounted files. These issues are addressed in Istio 1.1 through the SDS identity provision flow.
Related docs: https://preliminary.istio.io/docs/tasks/security/auth-sds/

A new component (`nodeagent`) should be added to the operator, and SDS should be configur

[2019-03-05 08:49] #50 closed

[2019-03-05 09:34] martonsereg opened #82 "[Istio 1.1] Configuration: podDisruptionBudget"
- [x] Pilot
- [x] Gateways
- [x] Mixer
- [x] Galley

[2019-03-05 10:08] martonsereg opened #83 "Clean up secrets created by Citadel when Istio is deleted"
Some secrets are created by Citadel and not managed by the operator directly.
These resources are left over when Istio is deleted from a cluster.

[2019-03-05 12:59] martonsereg opened #87 "[Istio 1.1] Configurable outbound traffic policy"
it is now set to `ALLOW_ANY`

[2019-03-05 13:11] martonsereg opened #88 "[Istio 1.1] Configurable tracer address"
In Istio 1.1 lighstep and jaeger/zipkin are both supported.
By default the zipkin address is set to `zipkin.istio-system:9411`, we should make it configurable to integrate with custom zipkin/jager, (and lightstep) installations.
Related to #41.

[2019-03-05 15:13] martonsereg opened #90 "[Istio 1.1] Configuration: Enable Core Dump"

[2019-03-05 15:21] martonsereg opened #91 "[Istio 1.1] Configuration: Enable Envoy statsd"

[2019-03-05 23:55] jtimdwyer opened #96 "Routing with VirtualService not working as expected"
**Describe the bug**
Applying routing rules does not route as expected -- get a 404 on all routes.

In the code yaml files below I've replaced identifying information (hosts and various id numbers) with placeholders.

**Steps to reproduce the issue:**
Install the istio-operator by following the instructions i.e. running `make deploy`. Apply the following istio configuration.
[code]

Then create a

[2019-03-06 02:01] waynz0r commented on #96
Hi @jtimdwyer,

thanks for checking out the operator!

The `istio-autogenerated-k8s-ingress` is there for backward compatibility and it is using `istio:ingress` selector as that setting was used in the 0.8 version.

I would suggest to create a new `gateway` with `istio: ingressgateway` selector for your services. Also the `gateway` and the `virtualservice` must be in the same namespace.

[2019-03-06 08:19] waynz0r commented on #96
@jtimdwyer Looks like you can have the `virtualservice` and the `gateway` in different namespaces, but you have to use FQDN for the gateway name that case.

The following example should work just fine.

[code]

[code]

[2019-03-06 09:31] martonsereg opened #99 "[Istio 1.1] Configuration: watch one namespace"

[2019-03-06 09:32] martonsereg opened #100 "[Istio 1.1] Configuration: trust domain"

[2019-03-06 09:34] waynz0r opened #101 "[Istio 1.1] Configuration: domain"

[2019-03-06 09:35] waynz0r opened #102 "[Istio 1.1] Unify common, generally used variable usage/declaration"

[2019-03-06 13:32] waynz0r opened #106 "Investigate whether the operator should create it's own CRDs or not"

[2019-03-06 13:46] #82 closed

[2019-03-06 17:28] jtimdwyer commented on #96
@waynz0r Ah, of course we have to use a FQDN on the gateway if they're not in the same namespace -- huge thank you for the help.

[2019-03-06 17:29] #96 closed

[2019-03-07 11:15] martonsereg opened #111 "Create a minimal CR sample for configuring Istio"

[2019-03-07 13:51] #87 closed

[2019-03-07 13:54] #99 closed

[2019-03-07 15:21] waynz0r opened #113 "Replica count from HPA should be at least MinReplicas"

[2019-03-07 15:33] #113 closed

[2019-03-07 16:12] #90 closed

[2019-03-08 00:07] mabushey opened #118 "How to set up grafana and jaeger"
While I despise Helm, installing istio with grafana is as simple as adding `--set grafana.enabled=true  --set grafana.security.enabled=true` to the `helm template` command. Jaeger integration is simply `--set tracing.enabled=true`. I believe the policy on the istio operator is not to support directly these addons, however, I would love some kind of docs to add Prometheus/Grafana, Jaeger, and Knati

[2019-03-08 10:08] martonsereg commented on #118
This is definitely on our short-term roadmap to integrate easily with Prometheus, Grafana and Jaeger.
But we believe that it should not be the responsibility of this operator to manage them, but, instead, to provide easy ways to integrate with external deployments/operators.
If it's not a demo/PoC scenario, developers often already have their own way of managing these components - like the Prometh

[2019-03-11 13:12] #21 closed

[2019-03-11 13:18] martonsereg commented on #27
configurable from 1.1

[2019-03-11 13:18] #27 closed

[2019-03-11 13:18] waynz0r opened #123 "Validate TPROXY interception mode"

[2019-03-11 13:18] #49 closed

[2019-03-11 13:19] #81 closed

[2019-03-11 23:25] mabushey commented on #118
The `jaeger-all-in-one-template.yml` seems pretty worthless, it creates it's own ELB. As I'm running Istio I already have an ELB from ingress. I pulled this config out of the old istio.yaml file I used before the operator, and it works. I removed all reference to the tiller crap. The Istio operator logs to it, and the UI is available by routing to `jaeger-query.istio-system.svc.cluster.local`

[co

[2019-03-11 23:42] mabushey commented on #118
What does this mean?

I need to get grafana set up... I can get the dashboards from the old istio.yaml. I don't what is required to get Prometheus working/collecting data.

[2019-03-12 09:09] martonsereg commented on #118
If you're installing Prometheus on Kubernetes, the `prometheus.yaml` configuration is probably mounted from a `configmap`. That `configmap` stores the scrape configs, and Istio has some specific scrape targets to get metrics from the Envoys and from the various control plane components. That `configmap` is what I've linked before.

But if you're doing the same with Prometheus as with Jaeger - gett

[2019-03-12 10:48] #30 closed

[2019-03-12 10:56] waynz0r opened #128 "Support rewriteAppHTTPProbe configuration"

[2019-03-12 12:29] #128 closed

[2019-03-13 07:58] den-vasyliev opened #132 "manager can't start"
**Describe the bug**

{"level":"error","ts":1552463370.8091638,"logger":"entrypoint","msg":"unable to run the manager","error":"open /tmp/cert/cert.pem: no such file or directory","stacktrace":"github.com/banzaicloud/istio-operator/vendor/github.com/go-logr/zapr.(*zapLogger).Error\n\t/go/src/github.com/banzaicloud/istio-operator/vendor/github.com/go-logr/zapr/zapr.go:128\nmain.main\n\t/go/src/gith

[2019-03-13 08:35] waynz0r commented on #132
Hi @den-vasyliev!

Thanks for reporting this!

We are preparing the master branch for the next release with Istio 1.1 support, there are some breaking changes, but the fix is coming shortly. You could use `release-1.0` branch until we fix this on `master`

[2019-03-13 08:39] den-vasyliev commented on #132
appreciate for the fast feedback!
i'am going to present operator on "KIK" tech talk and try to launch release-1.0
thanks

[2019-03-13 14:03] #88 closed

[2019-03-14 13:31] Laci21 commented on #83
#125 fixed this.

[2019-03-14 13:31] #83 closed

[2019-03-14 22:00] waynz0r opened #135 "CNI plugin implementation"

[2019-03-20 12:35] waynz0r opened #138 "Configurable ingress gateway service type"
Users should be able to configure the service type of the ingress gateway.

[2019-03-22 15:20] #135 closed

[2019-03-24 12:34] DaspawnW commented on #118
What about Jaeger support?
Currently you only allow zipkin configuration, but zipkin is not such well integrated in istio as jaeger.
For Jaeger there is an operator that is maintained by jaeger itself and as I see Kiali itself only supports jaeger.
Is there any plan to also allow it?

[2019-03-25 08:59] martonsereg commented on #118
@DaspawnW Jaeger accepts spans is Zipkin format for [backward compatibility](https://www.jaegertracing.io/docs/1.9/features/#backwards-compatibility-with-zipkin), so you can point the `tracing.zipkin.address` configuration in the CR to a Jaeger deployment and it should be working fine.

[2019-03-25 14:04] waynz0r opened #142 "Configurable operator wide ImagePullPolicy setting"
We should support changing `ImagePullPolicy` setting for the containers to support k8s clusters where specific settings are enforced.

[2019-03-25 14:34] #138 closed

[2019-03-25 14:46] #142 closed

[2019-03-27 07:31] Laci21 opened #145 "Enable/disable Istio components one by one"

[2019-03-28 12:22] StevenACoffman opened #150 "Feature Request: Collaborate with Istio-Installer Project"
Please consider collaboration with the [istio-installer](https://github.com/istio-ecosystem/istio-installer) which has very similar goals for piece meal installation and upgrade of istio and it's dependencies, but has no aspirations towards other management.

Each component in the istio-installer is optional. Users can install the component defined in the new installer, use the equivalent componen

[2019-03-28 12:29] StevenACoffman commented on #150
istio-ecosystem/istio-installer#10

[2019-03-28 14:25] matyix commented on #150
Hello @StevenACoffman - thanks for bringing this to our attention. Once this [PR is merged](https://github.com/banzaicloud/istio-operator/pull/144) that is opening the door to considering this integration. There are some overlaps (like this one - https://github.com/banzaicloud/istio-operator/pull/146) but the purpose of the operator is not just installing but managing the whole Istio lifecycle and

[2019-03-29 08:47] sdake commented on #150
@matyix as an FYI, the installer repository is a re-implementation of the existing Helm charts to decompose them.  These charts encode all of the wisdom (the whys things are done the way they are done).  An operator would then run against these templated manifests.  See my proposal here for how that work should proceed:

https://github.com/istio-ecosystem/istio-installer/issues/10#issuecomment-477

[2019-03-29 10:17] martonsereg commented on #150
hi @sdake, we are already coordinating with the Istio Environments working group (cc / @ostromart), so we are aware of this proposal and would be happy to contribute to it and getting to an agreement that fits everybody's needs.

[2019-03-31 12:57] #65 closed

[2019-03-31 12:57] #111 closed

[2019-03-31 12:57] #145 closed

[2019-04-01 20:14] orbatschow opened #151 "Support resource configuration"
**Is your feature request related to a problem? Please describe.**
As some people like me are running only a few microservices it would be great to have a way to customize the resource utilization (especially for the pilot chart).

**Describe the solution you'd like to see**
It could look exactly like the Helm chart:
[code]

[2019-04-02 11:29] martonsereg commented on #151
it should be pretty easy to add the config, we'll try to do it later today

[2019-04-03 12:38] #151 closed

[2019-04-03 16:19] Laci21 commented on #151
Hi @orbatschow,

The [PR](https://github.com/banzaicloud/istio-operator/pull/152) is merged to the [release-1.1](https://github.com/banzaicloud/istio-operator) branch with your requested feature. Let us know how it works for you!

[2019-04-03 21:08] waynz0r opened #156 "Istio injected envoy sidecar container sometimes fails to start with Istio 1.1.x"
There is an issue in Istio 1.1.x ([#9504](https://github.com/istio/istio/issues/9504)) which in some circumstances causes startup/readiness problem for the injected Envoy sidecar container.

We should check if it could be mitigated on our end!

[2019-04-04 13:51] #132 closed

[2019-04-04 13:54] #22 closed

[2019-04-04 16:15] waynz0r opened #157 "Implement graceful operator shutdown"
We should remove the finalizers from the CRs to prevent garbage collection deadlock.

[2019-04-04 17:59] #157 closed

[2019-04-07 19:42] #118 closed

[2019-04-07 19:42] #68 closed

[2019-04-09 12:10] orbatschow commented on #151
Sorry for the late feedback, but it works like a charm!

[2019-04-09 12:19] Laci21 commented on #151
Awesome!

[2019-04-09 16:42] matyix commented on #151
@orbatschow thx for getting back to us, let us know if you need anything else.

[2019-04-11 12:15] Laci21 opened #164 "Generate defaulter functions"
Use https://github.com/kubernetes/code-generator/blob/master/cmd/defaulter-gen, instead of the custom code we have right now to set default values.

[2019-04-15 12:01] devdattakulkarni opened #168 "Helm chart for deploying the Operator"
**Is your feature request related to a problem? Please describe.**
Currently to install the Operator the suggested approach is to run the 'make deploy' command. I was wondering if it would be possible to create a Helm chart for the Operator. Users typically have Helm installed. Providing a Helm chart will make Operator installation consistent with other uses.

**Describe the solution you'd like to

[2019-04-15 12:04] martonsereg commented on #168
Hi, we already have a Helm chart for the operator, it can be found here: https://github.com/banzaicloud/banzai-charts/tree/master/istio-operator

[2019-04-15 12:07] devdattakulkarni commented on #168
Awesome!! Thanks for the pointer.

May be I missed it, but I did not find reference to the chart in the README.

[2019-04-15 12:49] martonsereg commented on #168
you're right, we forgot to mention it in the readme, we'll add it.

[2019-04-15 13:53] #168 closed

[2019-04-15 14:49] #33 closed

[2019-04-16 18:19] simongottschlag opened #170 "Istio 1.1.3"
Hi!

You are always extremely fast with the support for the latest version of Istio. The latest version (1.1.3) is now released!

[2019-04-16 18:21] simongottschlag opened #171 "Datadog tracing"
Hi!

Datadog is now supported with Istio 1.1.3. I’m not completely sure if it will be supported out of the box with the operator or if anything else is needed to supported?

I would love to be able to use it with the operator.

Thanks!

[2019-04-16 19:01] matyix commented on #171
Hello @simongottschlag - once we release 1.1.3 (in the upcoming days) the Datadog integration will be enabled. Please get back to us and let us know how it works for you, after the finish the version bump.

[2019-04-16 20:31] dad264 opened #172 "Allow modification of sidecarinjector configmap"
**Is your feature request related to a problem? Please describe.**
We use Istio setup in a way our our pod should _only_ opt-in for the sidecar. Following the table [here](https://istio.io/help/ops/setup/injection), we would need to set the sidecar default policy to `disabled` in order to get the behavior we seek. Unfortunately, it seems that the istio-operator (and thus the Kind: Istio) doesn't a

[2019-04-16 20:47] waynz0r commented on #172
Thanks for suggesting this @dad264!

We are going to add this feature into the next release!

[2019-04-17 11:05] c0ff3e commented on #40
Yes please. as istio helm have support for it.
cant live without kiali :)

[2019-04-17 18:09] waynz0r opened #173 "Make 15020 first port in ingressgateway service"
AWS ELB will by default perform health checks on the first port on this list. Setting this to the health check port will ensure that health checks always work. See https://github.com/istio/istio/issues/12503

[2019-04-19 20:59] waynz0r commented on #172
@dad264 I've just opened a PR which – among other things – adds the support for configuring auto injection policy, it is scheduled to be released early next week.

[2019-04-19 21:02] waynz0r commented on #171
@simongottschlag I've just created a PR for Istio 1.1.3 support, it is scheduled to be released early next week.

[2019-04-23 12:29] simongottschlag commented on #170
@waynz0r I've tried your branch and it seems to be working!

[2019-04-23 12:47] simongottschlag commented on #171
@waynz0r would it be possible to get status.hostIP as the IP for datadog address? Making sure that we always go to the agent on the same host as the telemetry pod?

[2019-04-23 14:16] #170 closed

[2019-04-23 14:16] #171 closed

[2019-04-23 14:16] #172 closed

[2019-04-23 14:16] #173 closed

[2019-04-23 22:05] waynz0r commented on #172
@dad264 we just released a new version today. You can set sidecar auto injection policy in the CR as follows:

[code]

Let us know how it works for you!

[2019-04-24 12:52] dad264 commented on #172
Excellent! I'll apply this to our QA environment today.

[2019-04-26 14:43] olpie101 opened #175 "Pilot resource constraints are not applied correctly"
**Describe the bug**
When resource constraints are applied to the `pilot` resource for `istio.istio.banzaicloud.io` they are not actually applied to the container in the deployment itself. The pilot container  still uses `cpu:500m` and `memory:2048Mi`. Additionally the proxy container uses the resource constraints set for pilot instead of the the globally set proxy resource constraints.

**Steps t

[2019-04-26 15:16] martonsereg commented on #175
Hi, thanks for reporting this issue, we'll try to reproduce it and get back to you with our findings soon.

[2019-04-26 15:28] martonsereg commented on #175
you're right, pilot resources are incorrectly assigned to the proxy container, instead of pilot itself:
https://github.com/banzaicloud/istio-operator/blob/release-1.1/pkg/resources/pilot/deployment.go#L128
https://github.com/banzaicloud/istio-operator/blob/release-1.1/pkg/resources/pilot/deployment.go#L170

I'll let you know when we have a fix and a release.

[2019-04-26 16:32] #175 closed

[2019-04-26 16:37] olpie101 commented on #175
@martonsereg thanks 👍

[2019-04-30 11:49] waynz0r opened #178 "Add new status to track unmanaged CRs"
We should add an `Unmanaged` status for the CRs to track whether those resources are actively managed.

[2019-04-30 12:41] waynz0r opened #179 "Support local network in Istio meshconfig"
We should set the primary/master cluster as a local network with the ingress gateway address in meshconfig to support workload propagation from master to remote clusters.

[2019-04-30 12:42] waynz0r opened #180 "Istio k8s ingress gateway support not working properly"

[2019-04-30 12:55] waynz0r opened #181 "Add cluster ID as k8s attribute and to Prometheus metrics"
Add custom cluster id attribute for multicluster telemetry support.

[2019-04-30 13:02] #178 closed

[2019-04-30 13:36] matyix opened #183 "Add support for Istio v1.1.4"

[2019-04-30 13:46] matyix commented on #170
Hey @simongottschlag - just FYI we released the [1.1.4 version](https://github.com/banzaicloud/istio-operator/pull/182) if you'd like to move from 1.1.3. As always, let us know how it works for you.

[2019-05-01 13:04] #179 closed

[2019-05-01 13:04] #180 closed

[2019-05-01 13:04] #181 closed

[2019-05-01 13:04] #183 closed

[2019-05-06 06:43] Laci21 opened #186 "Add support for Istio 1.1.5"

[2019-05-06 09:20] #186 closed

[2019-05-07 10:12] waynz0r opened #188 "ClusterRbacConfig CRD scope is wrong"
The scope of `ClusterRbacConfig` should be `Cluster`

[2019-05-07 11:37] #188 closed

[2019-05-09 16:51] blaketastic2 commented on #171
How was the `$(HOST_IP):8126` value chosen? Can you point me to documentation that was used to set this as the sample yaml file?

[2019-05-09 18:12] waynz0r commented on #171
@blaketastic2 afaik the Datadog agent usually runs on every host in the cluster. The sidecar container gets the host ip through the `HOST_IP` env variable, so it could connect to the dd agent on the host using `$(HOST_IP):8126` as the address by default.

[2019-05-09 19:57] blaketastic2 opened #190 "Ability to set ports for Ingress Gateway"
I'd like the ability to set ports for the ingress gateway. Currently, non-standard ports are not supported, as well as SSL termination by setting `targetPort: 80`

[2019-05-10 15:54] #190 closed

[2019-05-10 18:40] martonsereg commented on #190
Hi @blaketastic2, we’ve added a config option in the CR to configure ports of the ingress gateway. See PR #191. The change is there in the latest version (0.1.12). Let us know if you need something else.

[2019-05-11 07:06] darwin67 opened #193 "Significant performance degrade (ingress pods) with Istio 1.1"
**Describe the bug**
Ingress latency for HTTPS increases dramatically that it will actually cause timeouts when trying to establish a TLS handshake with the ingress pods.

Once the TLS handshake has been established with the ingress pods, the process speed to the `VirtualService` and the actual `Service` are pretty fast.

**Steps to reproduce the issue:**
On a Kubernetes cluster in AWS (we create

[2019-05-11 09:42] waynz0r commented on #193
@darwin67 thanks for reporting this, we are gonna look into it.

[2019-05-11 09:47] matyix commented on #193
Thanks for reporting this @darwin67 - let us dig deep into the issue and get back with results or questions. Alternatively (for a faster resolution and exchange of configs, etc) could you join the istio-operator [Slack channel](https://slack.banzaicloud.io/)?

[2019-05-12 19:00] xeor opened #194 "Setting loadBalancerIP on ingress"
**Is your feature request related to a problem? Please describe.**
It looks like there is no way currently to set `loadBalancerIP` on the ingress gateway..

**Describe the solution you'd like to see**
A way to set `loadBalancerIP` in the yaml under `gateways.ingress.loadBalancerIp`

**Describe alternatives you've considered**
Setting the ip as:

[code]
but that does nothing.. :)

[2019-05-13 07:40] Laci21 opened #195 "Add support for Istio 1.1.6"

[2019-05-13 08:45] #195 closed

[2019-05-13 14:25] #194 closed

[2019-05-13 14:54] Laci21 commented on #194
Hi @xeor, thank you for your feature request!

We've added the capability to set the `loadBalancerIP` for the ingress gateway (see #198). You can do it like this:
[code]

This feature will be available in the next operator release (0.1.13) which will be released by tomorrow. Let us know if it works for you and if you have any other idea to improve the operator.

[2019-05-13 15:28] xeor commented on #194
Wow.. that was quick! Thanks a lot :)

[2019-05-13 17:54] f4tq opened #199 "Support multiple istio control planes"
**Is your feature request related to a problem? Please describe.**
Istio supports multiple control plane as described [here](https://istio.io/blog/2018/soft-multitenancy/) . It seems to me the manual update of helm templates describe therein would be way easier using banzai operator were it to [not assume it was a singleton](https://github.com/banzaicloud/istio-operator/blob/release-1.1/pkg/webhoo

[2019-05-13 18:23] martonsereg commented on #199
@f4tq thank you for the detailed feature request. I think it absolutely makes sense, it came up earlier in our discussions as well. But we haven’t had the resources to start planning the feature and working on a proper solution yet. That’s why we’ve settled on the singleton solution for now.
We'll take a deeper look on your proposal and get back to you soon.
Would you be interested in helping us i

[2019-05-13 19:43] simongottschlag opened #200 "Add support for nodeSelector"
Hi,

I took a look but it seems like it’s not possible to use nodeSelector with for example ingress gateway.

Would it be possible to add support for it?

Thanks!

[2019-05-13 22:49] waynz0r commented on #193
@darwin67 I tried to replicate the issue on fresh a PKE (v1.14.0) cluster on AWS, as you mentioned that you have seen the issue on a fresh install as well.

I could not replicate the issue with that setup so far.

You can find the applied resources here: https://gist.githubusercontent.com/waynz0r/e772cc8542c3c071ae0736be2b38002b/raw/90f1865e24e153bc7961dc21484ff872df2636dd/istio-nginx-sample.yaml

[2019-05-14 10:06] #200 closed

[2019-05-14 10:06] #31 closed

[2019-05-14 10:09] martonsereg commented on #200
Hi Simon,

we've added configurable `affinities`, `nodeSelectors` and `tolerations` in #201
I've just kicked off a new release (0.1.13), docker images should be available once docker hub builds it.

[2019-05-14 10:12] simongottschlag commented on #200
Blazing fast! I'll try it out as soon as possible.

[2019-05-14 17:27] darwin67 commented on #193
Hi @waynz0r

Thanks for looking into this. The issue didn't pop up immediately and seems to happen gradually over time.
It happened to my cluster (fresh install) after running for a couple days and I was seeing the operator restarting like 200 times.

As from transiting from Helm, it was immediate.

I wonder if this could only happen when there's a certain amount of load on the cluster? :thinking:

[2019-05-14 17:34] darwin67 commented on #193
If you think you can't replicate it, please feel free to close this issue since I understand it can be very tricky to reproduce.

I don't know all the variables to trigger this behavior so it'll be great that you could just keep this in mind and maybe investigate deeper when a similar report shows up.

As for now, we're moving back to use Helm and maybe wait for [this][official] to be ready.

[off

[2019-05-14 18:16] matyix commented on #193
Hello @darwin67 - any chance that we can check that cluster where you've seen this issue (or we can give you a cluster and let you deploy your stuff - happy to sign an NDA or whatever it needs to debug this). We run quite a few Istio clusters and have not seen this, nor able to reproduce - however if there is any chance we'd like to have your issue (even if might be an edge case) fixed.

About the

[2019-05-14 20:42] waynz0r commented on #193
@darwin67 the operator restart sounds strange and also it should not have affected pilot or mixer if there was no change in the CR regarding those components.

Do you have by any chance logs from the operator pod?

[2019-05-14 23:01] waynz0r opened #204 "Option to turn off CA creation in the Istio CR"
The user should be able the turn off automatic CA creation to use custom CA for certificates.

[2019-05-14 23:45] darwin67 commented on #193
@matyix @waynz0r
Hey, so here's an update. I think you can disregard this since it looks like an upstream issue with Istio itself.

https://github.com/istio/istio/issues/13578
https://github.com/istio/istio/issues/13863
https://github.com/istio/istio/issues/12755

[2019-05-14 23:47] darwin67 commented on #193
FYI:

I did an upgrade with Helm this time and I'm seeing the exact same issue.
Here's a screenshot of what it looks like.

This happens on requests that doesn't have caches, so incognito and `curl` will definitely be impacted.

![ingress](https://user-images.githubusercontent.com/5746693/57739286-d7752b00-7667-11e9-8ade-3dfacda2a022.png)

[2019-05-15 02:45] f4tq commented on #199
Well, It [looks like](https://github.com/istio/istio/issues/9333#issuecomment-482288538)  banzaicloud/istio-operator will get rolled into [istio/operator](https://github.com/istio/operator).

Right?

[2019-05-15 05:17] darwin67 commented on #193
The pod became accessible so I wasn't able to retrieve any logs from it. :(

[2019-05-15 09:24] matyix commented on #199
In a way yes - we are part of that team and about to push/add our work there, with some observations as:

- The official Istio operator’s scope is currently less than the Banzai Cloud one (for now it stops around installs and upgrades)
- We (Banzai Cloud) have a similar multi- and hybrid- cloud project as Google Anthos, [Pipeline](https://github.com/banzaicloud/pipeline) - built on our version of

[2019-05-15 15:37] #204 closed

[2019-05-15 17:10] darwin67 commented on #193
Hey @waynz0r @matyix , after spending some more time tweaking around, looks like there something interesting going on with the `istio-ingressgateway` deployment itself.

The interesting part is there aren't any logs or signals that stands out and I only spot the performance difference when changing the number of pods running.

I've created an issue on Istio https://github.com/istio/istio/issues/14

[2019-05-15 17:10] #193 closed

[2019-05-15 19:23] f4tq commented on #199
Agreed:  The `official` one would be great - at least from a Go structure/CRD perspective.   I'm a little worried about a monolithic CRD as we have to deal with multi-tenant situations which also require istio gateway additions/subtractions for groups sharing a control plan (not supported in banzai).

[istio/operator PR 2](https://github.com/istio/operator/pull/2) focuses on the initial Go structu

[2019-05-15 20:10] waynz0r opened #206 "CRDs for Istio components"
We should consider creating several smaller CRDs for the different Istio components and features.

[2019-05-15 20:16] waynz0r commented on #199
@f4tq even without multi-tenancy it seems like a good idea to define more CRDs for the different components or features, the Gateway that you mentioned is a particularly good example to that.

We already discussed a bit about that internally and I'm actually in favour of several smaller CRDs, but as multi-tenancy support was not on the short term roadmap we are also pondering about this problem an

[2019-05-15 21:05] vhosakot commented on #41
I'm not able to install istio's prometheus and grafana. Is this ticket going to be implemented anytime soon? Can we install install istio's prometheus and grafana using banzaicloud/istio-operator?

I added the following section in the istio CR yaml https://github.com/banzaicloud/istio-operator/blob/release-1.1/config/samples/istio_v1beta1_istio.yaml under the `spec:` section and it did not work an

[2019-05-17 22:41] mossuchida opened #208 "Please provide delete steps"
Currently, there is no documentation or steps for deleting CRs (ISTIO components) & operator itself. Usually, we can run kubectl delete -f <cr yaml file or operator yaml file>, but the steps are not clear.
Please provide steps to delete completely.

[2019-05-18 12:33] Laci21 opened #209 "Add support for Istio 1.1.7"

[2019-05-18 15:02] #208 closed

[2019-05-18 15:07] Laci21 commented on #208
Hi @mossuchida, we've added the necessary steps to the [README.md](https://github.com/banzaicloud/istio-operator/blob/release-1.1/README.md#uninstall).

Thank you for your suggestion!

[2019-05-19 05:05] darwin67 commented on #193
Hey @waynz0r @matyix

Not sure if you have been following the issue on Istio, but do you think you could reproduce it with the additional info I've provided there?

I'm kind of surprised that no one else is reporting on it so far so I'm suspecting there's something with my cluster setup, but then it's created with `kubeadm` so it's 100% compliant to the k8s standards...

[2019-05-19 06:18] matyix commented on #193
Hey @darwin67 - we will certainly try, as you provided lots of new information in [istio/https://github.com/istio/istio/issues/14102].

We'd be also happy to check your cluster or let you create a fresh one within our environment to debug it properly. By any chance are you (or someone from your organization) at KubeCon next week - we might do a debug session there together, otherwise let's talk on

[2019-05-19 07:11] darwin67 commented on #193
Unfortunately, we won't be at KubeCon next week. I've joined the Slack channel so I'll ping you. :)

[2019-05-20 09:29] Laci21 commented on #41
Hi @vhosakot, you are correct, right now the Istio operator cannot install neither `Prometheus` nor `Grafana` automatically for you (of course you can use both of them with the Istio operator if you install them for yourself, we use them together with the Istio operator in our [Pipeline](https://github.com/banzaicloud/pipeline) platform and they work just fine).

Our current view is that it probab

[2019-05-20 12:45] matyix commented on #41
@vhosakot we believe in the `separation of concerns` principle and the Istio operator is solely responsible for Istio. However, as @Laci21 mentioned, the [Pipeline platform](https://github.com/banzaicloud/pipeline) `glues` all these things together - by installing and managing the lifecycle of these components, whether they run on-premise, cloud or hybrid environment.

For a single click service m

[2019-05-22 11:18] Laci21 opened #212 "[EPIC] Multi cluster gateway setup with multiple Istio control planes"
Istio supports [Gateway Connectivity](https://istio.io/docs/setup/kubernetes/install/multicluster/gateways/) when separate Istio control planes are installed on multiple clusters. The Istio operator should support this use case as well.

### Details

To achieve this, the Istio operator should be able to configure a few parameters which are used for the [multi control plane setup](https://github.co

[2019-05-22 11:29] Laci21 opened #213 "Provide custom DNS configs"
Needed for #212

Be able to set custom DNS configs similarly to [Helm](https://github.com/istio/istio/blob/release-1.1/install/kubernetes/helm/istio/example-values/values-istio-multicluster-gateways.yaml#L3).

Need to set [here](https://github.com/istio/istio/blob/78e34d63cc125f0303091bf6d994be9f8b97078f/install/kubernetes/helm/istio/files/injection-template.yaml#L343-L349).

[2019-05-22 11:36] Laci21 opened #214 "Create resources for multiple Istio control planes"
Needed for #212

Similarly to [Helm](https://github.com/istio/istio/blob/release-1.1/install/kubernetes/helm/istio/example-values/values-istio-multicluster-gateways.yaml#L7).

[These](https://github.com/istio/istio/blob/da041fdb938001071661b735eb02356cd33ce40b/install/kubernetes/helm/istio/charts/gateways/templates/preconfigured.yaml#L121-L239) resources should be created.

[2019-05-22 11:41] Laci21 opened #215 "Support istiocoredns"
Needed for #212

This is how [Helm](https://github.com/istio/istio/blob/release-1.1/install/kubernetes/helm/istio/example-values/values-istio-multicluster-gateways.yaml#L19) does it.

[These](https://github.com/istio/istio/tree/release-1.1/install/kubernetes/helm/istio/charts/istiocoredns) are the needed resources.

[2019-05-22 11:55] Laci21 opened #216 "Provide custom env variables for egressgateway"
Needed for #212

Similarly to [Helm](https://github.com/istio/istio/blob/release-1.1/install/kubernetes/helm/istio/example-values/values-istio-multicluster-gateways.yaml#L25).

Need to set [here](https://github.com/istio/istio/blob/release-1.1/install/kubernetes/helm/istio/charts/gateways/templates/deployment.yaml#L222-L227).

[2019-05-26 13:51] #209 closed

[2019-05-29 08:31] Laci21 opened #223 "Create and sync ServiceEntry resources automatically"
For the [multiple control plane topology](https://istio.io/docs/concepts/multicluster-deployments/#multiple-control-plane-topology) multicluster setup, [ServiceEntry resources needs to be created](https://istio.io/docs/setup/kubernetes/install/multicluster/gateways/#configure-application-services) so that services can be called on remote clusters as well. This process could be automated by the ope

[2019-05-29 08:34] Laci21 commented on #213
For the multiple control plane topology these configs are set automatically by the operator, there is no need to configure them separately for now.

[2019-05-29 08:34] Laci21 commented on #216
For the multiple control plane topology these env variables are set automatically by the operator, there is no need to configure them separately for now.

[2019-05-29 09:58] #212 closed

[2019-05-29 09:58] #213 closed

[2019-05-29 09:58] #214 closed

[2019-05-29 09:58] #215 closed

[2019-05-29 09:58] #216 closed

[2019-06-03 09:37] mousavian opened #226 "Corrupting CoreDNS ConfigMap on reconsolidating istiocoredns component"
**Describe the bug**
Upon creating new `istio.istio.banzaicloud.io` resource, when `istiocoredns` component is not enabled, `istiocoredns` still gets reconsolidated and causing corrupt coredns ConfigMap with wrong proxy (missing destination):
[code]

And after few seconds, when coredns pods are reloaded due to config change, they will throw error and stuck in `CrashLoopBackOff` state:
[code]

This

[2019-06-03 09:43] Laci21 commented on #226
@mousavian, thank you very much for reporting this issue, at first glance, I think you are totally right the ConfigMap should only be reconciled when `istiocoredns` is enabled. We'll take a look, create a PR and release a new version with the fix today.

[2019-06-03 15:07] #226 closed

[2019-06-11 14:31] Laci21 opened #229 "Add support for Istio 1.0.8"

[2019-06-11 14:31] Laci21 opened #230 "Add support for Istio 1.1.8"

[2019-06-13 11:07] JoshuaAndrew opened #233 "request new feature: configure PodSecurityPolicy in Istio CR"
**Is your feature request related to a problem? Please describe.**

if  I enable podsecuritypolicy in kube-apiserver, you would find the problem below, there is no
available pod running, so we should add some configuration in Istio CRD to configure podsecuritypolicy name.
[code]

[2019-06-13 11:47] #230 closed

[2019-06-13 11:50] #229 closed

[2019-06-13 18:28] waynz0r commented on #233
Hi @JoshuaAndrew,

Thank you for your suggestion!

We are gonna look into it and figure out an easy way to configure PSP in the CR for the Istio components.

[2019-06-14 03:46] mousavian opened #235 "Missing ClusterRole rule required by citadel"
**Describe the bug**
Hey guys,
As part of installation, manager tries to provision a clusterRole for citadel component which [requires](https://github.com/banzaicloud/istio-operator/blob/6ecac42a97a1b52b8d0a149c9f810d8e587eea99/pkg/resources/citadel/rbac.go#L51-L55) `create` access on `tokenreviews` but manager's clusterRole does not have that permission itself; hence throwing an error:
[code]
Thi

[2019-06-14 07:33] JoshuaAndrew commented on #233
@waynz0r    wonderful !

[2019-06-14 15:19] #235 closed

[2019-06-14 15:26] Laci21 commented on #235
Hi @mousavian,

You are totally right, thank you for catching this! @waynz0r was kind enough to create #237 which solves this issue, I believe. Let us know if it solves the problem for you as well.

About your `kustomization.yaml`, I think you should use it like this:
[code]

So without the the line:
[code]

Otherwise `kustomize` would throw an error like this:
[code]

[2019-06-17 07:12] mousavian commented on #235
Thanks for quick fix guys! 🥇
Works like a charm now.

--
and thanks for correcting me about kustomization file, it was a copy-pasta issue.

[2019-06-18 06:47] Laci21 opened #240 "Add support for Istio 1.1.9"

[2019-06-18 14:20] #240 closed

[2019-06-21 08:27] Laci21 opened #243 "Namespaces listed in "autoInjectionNamespaces" inconsistent with actual namespace labels"
**Describe the bug**
A clear and concise description of what the bug is.

I encountered a situation when I had a `test` namespace which was listed in the [autoInjectionNamespaces](https://github.com/banzaicloud/istio-operator/blob/release-1.1/config/samples/istio_v1beta1_istio.yaml#L12) list of the Istio Custom Resource, but the necessary labels (`istio-injection=enabled,istio-operator-managed-inj

[2019-06-23 22:40] waynz0r opened #244 "Istio 1.2.x support"
Add support for Istio 1.2.x

[2019-07-01 09:42] allamand opened #249 "Istio sidecar init-container requires to run as `root`"
**Describe the bug**

This bug is already describe here: https://github.com/istio/istio/issues/10358

Is there a way to configure the istio-init container with root access while the pod is configure with less requirements ?

[2019-07-01 13:17] #249 closed

[2019-07-03 09:39] JoshuaAndrew commented on #233
@waynz0r  Is there any progress?

[2019-07-03 12:38] waynz0r commented on #233
Hi @JoshuaAndrew,

we had several internal discussions about how to solve this problem. We think it is out of scope of the operator itself to specify and set pod security policies.

We are going to add a basic PSP to the helm chart and to the kustomize flow to support PSP enabled clusters.

[2019-07-03 15:07] #233 closed

[2019-07-03 20:44] waynz0r commented on #233
Hi @JoshuaAndrew,

we just released a new helm chart version (0.0.14). You can use `rbac.psp.enabled=true` to enable psp   resource deployment for the operator and the Istio components.

Please let us know how it works for you!

[2019-07-04 07:15] Laci21 opened #254 "Add support for Istio 1.1.11"

[2019-07-04 09:24] JoshuaAndrew commented on #233
@waynz0r  Nice cool !

[2019-07-04 11:09] #254 closed

[2019-07-12 07:15] Laci21 commented on #244
Fixed in #248

[2019-07-12 07:15] #244 closed

[2019-07-12 12:46] ppennanen opened #259 "istio-sidecar-injector error with release-1.2"
**Describe the bug**

Istio-sidecar-injector does not appear to work with istio-operator `release-1.2`. Pods are not created in namespaces with `istio-injection=enabled`. `kubectl describe rs` for a failed deployment gives the error:

[code]

istio-sidcar-injector logs:

[code]

This looks related to https://github.com/istio/istio/issues/15288

**Steps to reproduce the issue:**

1. Install istio-o

[2019-07-12 13:55] waynz0r commented on #259
Hi @ppennanen,

I could not reproduce this issue on a fresh GKE cluster.

Could you please paste the Istio CR that you applied?

[2019-07-14 19:23] ppennanen commented on #259
So this is the Istio CR used. It fails to work on a fresh GKE cluster. The setup also uses a pre-existing root cert, but the errors don't seem related to that.

[code]

[2019-07-17 15:11] 06kellyjac opened #261 "Some Kustomize resources use a namespace of `system` rather than `istio-system`"
**Describe the bug**

Some Kustomize resources use a namespace of `system` rather than `istio-system`. This seems like they should either go in `istio-system` or if it should go in a different namespace it should be something more distinct than `system` such as `istio-operator` or `istio-operator-system`

https://github.com/banzaicloud/istio-operator/blob/release-1.2/config/base/manager/manager.ya

[2019-07-17 16:03] #261 closed

[2019-07-18 11:46] #259 closed

[2019-07-20 20:58] xeor opened #263 "Beta channel for charts?"
**Is your feature request related to a problem? Please describe.**

I want istio `1.2`, but to get that I need the `realese-1.2` of the operator. The chart published at kubernetes-charts.banzaicloud.com only contains the `0.0.14` chart, not the needed `0.2.0`.

**Describe the solution you'd like to see**

Publish charts faster (if this is stable?). https://github.com/banzaicloud/istio-operator/rel

[2019-07-20 21:48] sagikazarmark commented on #263
@xeor thanks for opening this issue. Beta channel is indeed a good idea, but I think it's not necessary in this case.

While it might be a bit confusing, the chart is versioned independently from the operator. On the linked releases page you can find chart tags prefixed with `chart/`.

It's probably easier to follow chart versions on the Helm Hub page: https://hub.helm.sh/charts/banzaicloud-stable

[2019-07-21 18:50] xeor commented on #263
Thanks for the reply.. Thats what I thought, but then this doesn't make much sense :)

Note that I use helm v3 alpha, but that shouldn't have anything to say...

I installed using `h3 upgrade -i istio-operator banzaicloud-stable/istio-operator --set-string operator.image.tag=0.2.0`, and I verify it's config is as it should (`h3 status -o yaml istio-operator`):

[code]

Then I try to install a simp

[2019-07-21 18:55] xeor commented on #263
I tried `operator.image.tag=0.2.1` as well, same error

[2019-07-21 19:09] xeor commented on #263
When using helm, it gets `https://kubernetes-charts.banzaicloud.com/charts/istio-operator-0.0.14.tgz`, which contain the file `operator-istio-crd.yaml`, which have the `pattern: ^1.1`.

Is the idea that this crd's should be installed by the operator? But somehow helm still does it..?

[2019-07-23 18:54] dad264 opened #264 "telemetry/mixer attributes are mostly null"
**Describe the bug**
Most of the mixer telemetry data is missing the source/destination attributes. For example:

[code]

**Steps to reproduce the issue:**
Updated to istio-operator 0.1.21, Istio version 1.1.11

**Expected behavior**
Example from last week:
[code]

**Additional context**

This installation is a single/simple cluster.

I found the following errors in the istio-telemetry pods:

[cod

[2019-07-23 19:32] waynz0r commented on #264
Hi @dad264,

thanks for reporting this!

I just released a new version (0.1.22) with a fix for that issue, could you give it a try?

Be aware, the default Istio version is bumped to 1.1.11!

[2019-07-23 19:36] dad264 commented on #264
Testing right now!

[2019-07-23 20:40] dad264 commented on #264
Looks good. Thank you!

[2019-07-23 20:42] #264 closed

[2019-07-26 15:52] dad264 opened #266 "question: reconciliation error for ingress"
I'm getting reconciliation errors with the following message:
`istio-operator-operator-0 manager {"level":"info","ts":1564156132.4932094,"logger":"controller","msg":"invalid ingress status"}`

I'm currently setting our ingress-gateway to type "nodeport", so am I correct in assuming there wouldn't be a `service.Status.LoadBalancer.Ingress`  status to pull in https://github.com/banzaicloud/istio-ope

[2019-07-26 19:16] waynz0r commented on #266
Hi @dad264,

that is certainly an issue, thanks for reporting this! A fix will be released early next week.

You can try a custom build from https://github.com/banzaicloud/istio-operator/tree/ingress-endpoints-fix until then.

[2019-07-30 21:34] #263 closed

[2019-07-31 07:21] Laci21 commented on #263
Hi @xeor,

Sorry for not getting back to you earlier!

We have now released a new chart version (0.0.15) which installs Istio 1.2 by default with the up-to-date CRDs and with the latest operator image to support Istio 1.2 (0.2.1). You can see it on the [Helm Hub page](https://hub.helm.sh/charts/banzaicloud-stable/istio-operator).

Please give it a try and let us know if it works for you!

[2019-08-01 05:02] xeor commented on #263
Thanks @Laci21.. I'm without my test-lab atm, but I will be able to test it out soon :)

[2019-08-02 17:16] varsraja commented on #193
Iam using istio 1.1.8  with kube 1.14 and hitting the same issue with a tls SIMPLE mode. The gateway just hangs at client hello  . While the non -https port work fine.

[2019-08-05 11:42] Laci21 opened #271 "Support multiple ingress gateways"
**Problem statement:**
The current version of the operator has the Istio ingress gateway configuration in the main `Istio` custom resource. It means that only one ingress gateway can be configured and reconciled through the operator, but it is a common use-case to have multiple ingress gateways in an environment.

**Possible workaround:**
Configure the Istio control plane (and one ingress gateway)

[2019-08-05 15:27] Morriz commented on #233
well, thanks for attempt #1, but it is fully permissive...not recommended:
[code]

I suggest creating more finegrained psps for the components. Which components need access to what?

[2019-08-05 15:29] Morriz opened #274 "install fails with chart@0.0.14"
install fails:
[code]

[2019-08-05 15:42] #274 closed

[2019-08-05 15:42] Morriz commented on #274
my mistake, I merged charts with helm fetch...pfff

[2019-08-05 15:50] waynz0r commented on #233
@Morriz,

the *example* PSP was added into the repo merely to allow running the Istio components on a cluster where PSP is enabled.

Fine tuning largely depends on the actual configuration of the Istio components and as such usually happens on a per-user basis.

Most of the Istio operator users use their own custom PSP for each component based on their own requirements; like us, we give a custom P

[2019-08-05 15:50] Morriz commented on #243
I favor option 1, as after deleting a namespace k8s should not hold any references to it anymore...

any updates here?

[2019-08-05 15:54] Morriz commented on #263
the 0.0.14 had psp support, the next version does not? Why the regression?

Our cluster has PSP turned on :|

[2019-08-05 15:55] Morriz opened #275 "regression bug: helm chart 0.0.15 has no psp support"
please keep the psp support, even though the current setup is too permissive :]

maybe put it on the backlog to fix the permissiveness soon?

[2019-08-05 16:00] blaketastic2 opened #276 "Istio Operator on EKS 1.13"
**Describe the bug**
When trying to apply the manifest, operator fails to create CRD's with the below error:
[code]

**Steps to reproduce the issue:**
After Istio operator has been installed(via Helm)

**Expected behavior**
Resources should be created

**Additional context**
Operator `0.1.21`
Helm chart `0.0.13`
Isito `1.1.9`
AWS EKS `1.13.7`

[2019-08-05 16:01] Morriz commented on #233
I get it, but it might be nice to offer it just right for the components that are in the chart, just like the chart guidelines say. And thenlet the users figure it out for their userland workloads...maybe provide a link to a default "restricted" psp that is good for workloads for tenants

[2019-08-05 16:09] Morriz opened #277 "deployment on chart@0.0.15 fails with: spec.version in body is required"
Is that documented somewhere? I want to update the manifest, but how?

[2019-08-05 16:30] Laci21 commented on #275
I've just created #278 to fix this. We'll release a new chart version with this feature soon once this PR is merged.

[2019-08-05 16:31] waynz0r commented on #277
Hi @Morriz,

the `version` must be specified in the CR you want to apply.

Like in this sample, https://github.com/banzaicloud/istio-operator/blob/72b4767bf411441b6b305f5a0c7470438de40dd7/config/samples/istio_v1beta1_istio.yaml#L8

[2019-08-05 16:44] Morriz commented on #277
Yeah, it's documented in the CRD. I should read first...tnx

[2019-08-05 18:41] #275 closed

[2019-08-06 00:33] blaketastic2 commented on #276
I can't seem to re-produce anymore. The main takeaway was to make sure all CRD's were removed before creating the operator.

[2019-08-06 00:33] #276 closed

[2019-08-06 12:21] #266 closed

[2019-08-06 12:50] Laci21 commented on #243
Hi @Morriz,

Thanks for sharing your opinion!

Unfortunately, we haven't dealt with this yet, but we are happy to accept PRs. Otherwise, you'll be able to follow the progress of this issue here.

[2019-08-06 12:58] Laci21 commented on #261
Further reference for passers-by:
The recommended usage options are documented here: https://github.com/banzaicloud/istio-operator/blob/release-1.2/config/README.md

[2019-08-06 16:18] Laci21 commented on #266
Hi @dad264,

There are new images built for Istio 1.1 (`0.1.23`) and Istio 1.2 (`0.2.2`) with the fix.

Thanks for reporting the issue!

[2019-08-06 17:02] dad264 commented on #266
@Laci21 Looks good! Thanks!

[2019-08-15 13:38] psandhu79 opened #284 "Installing adaptors with Operator"
Its not clear to me how to install an adaptor with the Istio operator, I would like to install the Stackdriver adaptor

[2019-08-15 14:04] #277 closed

[2019-08-15 19:56] waynz0r commented on #284
Hi @psandhu79,

it should be as simple as applying the stackdriver adapter resources (https://raw.githubusercontent.com/istio/istio/master/mixer/adapter/stackdriver/operatorconfig/stackdriver.yaml) after you set project id and credentials.

The API key option is probably the simplest option for credentials.

You can also store a service account JSON in a secret called `policy-adapter-secret` in th

[2019-08-15 20:11] psandhu79 commented on #284
@waynz0r thank you I tried that after posting this question however question about the CRDs that come with Istio not all these are installed. There is a Stackdriver crd which I believe needs to be run before applying the Stackdriver.yaml.

So question should the operator and crd in the install also install all the crds

[2019-08-16 08:33] waynz0r commented on #284
@psandhu79 which istio version do you use?

There were some CRD related changes in Istio 1.2 (https://discuss.istio.io/t/deprecation-notice-custom-mixer-adapter-crds/2055), so the stackdriver resources at that url is not compatible with it. You have to use `instance` CRs instead of specific CRs like `metrics`, `stackdriver`, and so on..

[2019-08-30 13:05] waynz0r opened #291 "Fix Istio components labels on created resources"
Currently there are some inconsistencies between labels set to different Istio components' resources. We should make them consistent.

[2019-08-30 18:36] blaketastic2 commented on #271
@Laci21 Do you think this really requires a new CRD? Could we not just do something like this?

[code]

[code]

I'd love some feedback on this approach. If you think it will work, I can work toward a PR over the next couple of days

[2019-08-30 18:40] blaketastic2 commented on #271
A follow up, you can set the namespace in the `GatewayConfiguration` and allow setting the namespace on the additional gateways.

I used this SO originally when I needed to understand how to have multiple ingress gateways. https://stackoverflow.com/questions/51835752/how-to-create-custom-istio-ingress-gateway-controller

[2019-08-30 21:19] waynz0r commented on #271
@blaketastic2,

first off, appreciate your time/effort you put into this!

We at banzai are in favour of having a separate CRD for several reasons:

- a separate controller should take care of reconciling ingress gateways as there could be many in different namespaces
- proper RBAC control of who can manage ingress gateways (otherwise someone has to have update permission to the Istio CR just to c

[2019-08-31 00:38] blaketastic2 commented on #271
@waynz0r ok, your points make a lot of sense. Thanks for the feedback.

[2019-09-09 15:40] utkuozdemir commented on #271
Hello,

Is there any progress on this? We have a similar need at my workplace, and can work on a PR if needed. If we should, is a new CRD definitely the way to go?

Thanks.

[2019-09-10 09:13] waynz0r commented on #271
@utkuozdemir,

thanks for the interest! We are actively working on this, I'll link the PR into this thread as soon as it gets opened.

Could you share your use case so we can take it into account while developing this feature?

[2019-09-10 10:06] utkuozdemir commented on #271
@waynz0r
Thanks for the quick reply.
Our use case is multiple tenants using the same cluster, being able to create/delete ingress gateways as they need. Since Istio is not quite ready for full multi-tenancy with multiple control planes, we decided to stick to multiple ingress gateways for now.
RBAC aspect for this is not very important to us, since abstracting tenants away from the raw kubernetes

[2019-09-10 13:35] matyix commented on #271
hey @utkuozdemir - we will have a [Backyards](https://banzaicloud.com/blog/istio-the-easy-way/) release late September (eta Sept 27) and this feature is part of the release. Since Backyards is using/built on the Istio operator, the feature/PR will land here in the newt 1-2 weeks.

Once it's there you can help with testing - thanks for offering your help.

[2019-09-10 13:50] dad264 opened #293 "Allow customization of proxy logs"
**Is your feature request related to a problem? Please describe.**
In our shop, we like to write all of our logs out in JSON format. From what I can tell, it's not currently a parameter as seen here:

https://github.com/banzaicloud/istio-operator/blob/master/pkg/resources/common/configmap.go#L49

**Describe the solution you'd like to see**
I'd like to be able to set proxy.accessLogEncoding and pro

[2019-09-11 03:09] mousavian opened #294 "Supporting custom env vars for components"
**Is your feature request related to a problem? Please describe.**
Some components of istio come with some tuning flags that can be set through ENV variables.
(eg [pilot](https://istio.io/docs/reference/commands/pilot-discovery/#envvars), [galley](https://istio.io/docs/reference/commands/galley/#envvars), etc.) as well as some env vars that affect [Golang runtime](https://dave.cheney.net/2015/11/2

[2019-09-12 01:41] mousavian opened #295 "Support separate config for telemetry and policy"
**Is your feature request related to a problem? Please describe.**
Currently telemetry (deploy & hpa) and policy are sharing the same config for mixer container and hpa.
We have observed that they are behaving differently and require custom resource and hpa configuration.
This has been addressed in Helm installation in istio repository ([1](https://github.com/istio/istio/blob/master/install/kubern

[2019-09-13 07:20] Laci21 commented on #293
Hi @dad264,

Thank you for your kind words!

We will do our best to implement this feature in the next 2-3 weeks, but in around two weeks we will have a [Backyards](https://banzaicloud.com/blog/istio-the-easy-way/) release, until then we have limited capacity, so we cannot promise anything. If you need the feature sooner and you are up for it, we are more than happy to accept PRs. Otherwise, we wi

[2019-09-13 07:25] Laci21 commented on #294
Hi @mousavian,

This feature would make sense for sure.

We will do our best to implement this feature in the next 2-3 weeks, but in around two weeks we will have a [Backyards](https://banzaicloud.com/blog/istio-the-easy-way/) release, until then we have limited capacity, so we cannot promise anything. If you need the feature sooner and you are up for it, we are more than happy to accept PRs as yo

[2019-09-13 07:33] Laci21 commented on #295
Hi @mousavian,

I agree it would be nice to configure these deployments separately.

I can only repeat myself for this as well, in the next 2-3 weeks we have limited capacity, so we cannot promise anything. PRs are always welcome, otherwise, we will try to do our best to resolve this as soon as we can.

[2019-09-14 14:42] matyix commented on #295
@mousavian you can track the progress of the [Separate policy and telemetry configuration](https://github.com/banzaicloud/istio-operator/pull/297/) here - there has been some work done over the weekend) #297

[2019-09-16 08:52] mousavian commented on #295
Thanks guys for following up with this,
I have overutilized the resources for mixer to cover both deployments needs, on my last week at iflix.
So there shouldn't be too much rush for this but would be good to have.

_Maybe_ someone from iflix will follow up with this in future.
Cheers,

[2019-09-18 17:27] Laci21 commented on #293
We merged #298 to the `release-1.3` branch and will release a version tomorrow morning to support this feature with Istio 1.3. We will backport this feature to the `release-1.2` (Istio 1.2) branch as well soon.

[2019-09-19 13:59] waynz0r commented on #295
@mousavian,

this feature just got released with latest operator version.

[2019-09-19 13:59] #295 closed

[2019-09-19 23:34] mousavian commented on #295
Cc @olga-mir @visualdensity @ronny

[2019-09-25 11:52] qvicksilver opened #302 "Token audience is not set for sidecar injector (Istio 1.3)"
**Describe the bug**
The token audience is not set for the sidecar injector resulting in certificate request failure on Istio 1.3

**Steps to reproduce the issue:**
* Deploy operator with Istio 1.3, SDS and NodeAgent enabled
* Create pod in namespace with injection enabled
* Check Citadel/NodeAgent logs for failures

**Expected behavior**
That NodeAgent should be able to acquire a valid certificat

[2019-09-25 12:54] #302 closed

[2019-09-25 15:10] kubaj commented on #199
What would be needed to push this forward?

[2019-09-26 18:27] waynz0r commented on #199
Hi @kubaj,

Our experience running multiple control planes was very elusive and run into lots of issues. While we believe that we understand Istio quite well, and running pretty large (in size and number) clusters for our customers, providing proper multi-tenancy support with all the configuration options (and their dependencies) and the complexity to make sure the tenants don't step on each other

[2019-09-27 13:15] #100 closed

[2019-09-27 19:10] #101 closed

[2019-10-09 08:58] mc1711 opened #310 "mTLS migration and policy definition"
We are using istio-operator and we are currently migrating a project to use mTLS.

We do not enable mTLS on all our pods so we need to manually create a policy to set mTLS permissive mode for all the services talking to the no-mtls pods.

To do that we manually create a policy like this

apiVersion: "authentication.istio.io/v1alpha1"
kind: "Policy"
metadata:
  name: "migration-policy"
spec:
  targ

[2019-10-09 11:51] Laci21 commented on #156
Solved in Istio 1.3, Istio 1.1 is EOL, see: https://github.com/istio/istio/issues/9504#issuecomment-532412566

[2019-10-09 11:51] #156 closed

[2019-10-09 12:14] Laci21 commented on #310
Hi @mc1711,

It's great to hear that you use the operator!

Honestly, it feels like this feature is out of scope of the operator, but it is definitely something that we would consider adding to our [Backyards](https://banzaicloud.com/blog/istio-the-easy-way/) product.

It is not on our short term roadmap right now, but we will let you know as soon as we have a feature which can help you achieve wh

[2019-10-10 08:28] mc1711 commented on #310
Thanks a lot @Laci21 .. I will follow the istio-operator and backyards project.

[2019-10-10 16:03] coreywagehoft commented on #271
@matyix are there any updates on multiple ingress gateway support?  We would like to be able to support both an external and internal ingress gateway.

[2019-10-10 21:56] inhabitech opened #311 "Migration path from Istio installed by Istio methods and by the Istio Operator"
**Is your feature request related to a problem? Please describe.**
I want to start using Istio in my production environment. However, I want to explore usage of things like Kiali which are currently not supported by the operator.

**Describe the solution you'd like to see**
An easy to use upgrade path where I can switch from using a "standard Istio install" to using the operator.

Is this possible

[2019-10-11 11:41] Laci21 commented on #311
Hi,

If you have an Istio control plane running on your cluster, installed with Istio's official Helm charts, you should be able to simply install the Banzai Cloud Istio Operator on your cluster and then your Istio control plane will be managed by the operator from that point on.

To install the operator, you can check the [documented installation methods](https://github.com/banzaicloud/istio-oper

[2019-10-11 14:50] inhabitech commented on #311
Awesome. Sounds great, thanks!

[2019-10-11 14:50] #311 closed

[2019-10-16 14:04] truongnh1992 opened #316 "Running Envoy proxy through CRI"
**Is your feature request related to a problem? Please describe.**
When upgrading Istio sidecar (Envoy proxy):
In order to change the sidecar container, the pod needs to be restarted, so the application container will be restarted as well => it will cause downtime for that specific pod.

**Describe the solution you'd like to see**
In order to change the sidecar container without restaring the pod

[2019-10-16 14:55] #243 closed

[2019-10-16 15:02] Laci21 commented on #243
For further reference:
Solved with the second listed possible solution which is:
When the `test` namespace is deleted, it stays in the `autoInjectionNamespaces` list of the Istio CR. When it is recreated, an automatic reconciliation happens and the labels are attached to the newly created namespace.

[2019-10-20 17:00] kubaj commented on #199
Thank you, good to know. The problem with our setup is that we have a big cluster, and it would be difficult to split it now. We will think about splitting the cluster in the future.

[2019-10-22 12:41] waynz0r commented on #271
@coreywagehoft,

it was put behind a bit on the priority list, but I actively working on it right now, hopefully there will be a PR for it in the next 2 weeks.

[2019-11-08 10:20] feisuzhu commented on #40
+1
Please

[2019-11-08 14:12] matyix commented on #40
The operator's mere concern is to install (and upgrade) Istio, and nothing else. This is inline with the operator (Kubernetes controller) pattern and follows the separation of concerns pattern.

You can always install Kiali afterwards - or if you are looking for a `one shot` Istio management tool built on top if this operator (including a UI, CLI, GraphQL API, with Jaeger, Prometheus, Grafana, and

[2019-11-08 14:12] #40 closed

[2019-11-08 14:33] Laci21 commented on #41
As mentioned above, the operator's mere concern is to install (and upgrade) Istio, and nothing else. This is inline with the operator (Kubernetes controller) pattern and follows the separation of concerns paradigm.

You can always install Prometheus/Grafana/Jaeger afterwards - or if you are looking for a `one shot` Istio management tool built on top of this operator (including a UI, CLI, GraphQL A

[2019-11-08 14:33] #41 closed

[2019-11-08 14:44] Laci21 commented on #32
After some considerations, we believe that the Istio operator's mere concern is to install (and upgrade) Istio, and nothing else. This is inline with the operator (Kubernetes controller) pattern and follows the separation of concerns paradigm. A different operator should be used for handling canary releases, e.g. Flagger.

You can always install Flagger afterwards and it will work without a proble

[2019-11-08 14:44] #32 closed

[2019-11-08 22:12] mabushey opened #326 "Istio not installing after being removed"
I love the operator, thanks for making it. :)

**Describe the bug**
Had istio running, tore it down, and now it does not come back.

**Steps to reproduce the issue:**
`kubectl delete -n istio-system -f istio-oc.yaml`
had to clear out the stuck CRD: `kubectl patch crd/istios.istio.banzaicloud.io -p '{"metadata":{"finalizers":[]}}' --type=merge`
`kubectl delete crd istios.istio.banzaicloud.io`
`kube

[2019-11-08 22:42] waynz0r commented on #326
Hi @mabushey,

I'm glad you like the operator and thanks for reporting the issue!

Can you please check the operator logs when you re-create the cr the second time?

[2019-11-08 22:47] mabushey commented on #326
Here's something:
[code]

[2019-11-08 22:54] mabushey commented on #326
[code]

[2019-11-08 22:57] mabushey commented on #326
[code]

[2019-11-08 23:04] waynz0r commented on #326
Can you please try restart the operator without touching the existing istio CR?

It should mark the existing CR as `Unmanaged` and also it should the remove the finalizer from it when it stops.

this line looks strange:
[code]

It means that there is an ongoing resource deletion in progress.

[2019-11-08 23:09] mabushey commented on #326
[code]

It's hanging....

[2019-11-08 23:11] waynz0r commented on #326
It takes at least 30 seconds.

[2019-11-08 23:16] mabushey commented on #326
Your're right, It only hung for a minute. I applied istio-oc.yaml and it looks like it took. I guess that all it needed.

Thanks! Your support is as good as your operator! Have a great weekend. :)

[2019-11-08 23:16] #326 closed

[2019-11-08 23:23] waynz0r commented on #326
I'm glad it worked, have a great weekend as well! :)

[2019-11-14 21:12] coreywagehoft commented on #271
@waynz0r any updates on this?  I would love to move over to your operator sooner than later!

[2019-11-14 23:42] res0nat0r opened #328 "Operator never leaves Reconciling status"
**Describe the bug**

The operator never leaves `Reconciling` status, thus never becomes ready.

**Steps to reproduce the issue:**

[code]

**Expected behavior**

The operator should become ready and usable.

**Screenshots**

[code]

[code]

**Additional context**

This install process works fine for me on a smaller k8s cluster I'm testing against. I'm installing via the `istio-1.3.4` branch. I *t

[2019-11-15 23:21] waynz0r commented on #328
Hi @res0nat0r,

can you please paste some logs from the operator container in `pod/istio-operator-controller-manager-0`?

[2019-11-16 12:05] Laci21 commented on #328
Hi @res0nat0r,

First of all, for more robust builds, I would recommend you to use the `release-1.x` branches (`release-1.3` in your case if you want Istio 1.3, or switch to `release-1.4` for Istio 1.4 if you wish). This shouldn't have caused the issue you've experienced but you can usually expect more stable builds on the `release-1.x` branches.

We can see that your operator pod was restarted th

[2019-11-17 17:42] Starefossen opened #329 "Missing RemoteIstio CRD for istioVersion=1.4 with Helm Chart"
**Describe the bug**

When installing the latest version of the Helm Chart which has `istioVersion` set to `1.4` fails due to the fact that there are no `RemoteIstio` CRD installed for this Istio version.

[This file (operator-remoteistio-1.3-crd.yaml)](https://github.com/banzaicloud/istio-operator/blob/release-1.4/deploy/charts/istio-operator/templates/operator-remoteistio-1.3-crd.yaml) needs to

[2019-11-17 20:21] Laci21 commented on #329
Hi @Starefossen,

You are absolutely right, thanks for reporting this issue!

We simply missed updating/adding the new CRDs to the Helm chart templates. Please see #330 which should fix this issue soon.

[2019-11-18 09:30] #329 closed

[2019-11-18 09:47] Laci21 commented on #329
@Starefossen, helm chart version `0.0.26` should fix this issue, let us know if it works for you!

[2019-11-18 09:55] Starefossen commented on #329
🎉

[2019-11-18 10:44] #293 closed

[2019-11-18 12:01] #284 closed

[2019-11-18 20:22] res0nat0r commented on #328
Hi @Laci21 / @waynz0r

- So I was wanting to use a point release branch so we can always point to a specific istio release that will never change, hence why I picked `istio-1.3.4`. If I use `release-1.3`, this could be release `1.3.4` today, and possibly `1.3.5` next month no? We're trying to pin to an exact release we know works across the board so hence the reason I was using an explicit release

[2019-11-19 08:02] waynz0r commented on #271
@coreywagehoft, yeah, unfortunately we couldn't finish it in time to put it into the previous release so it is gonna be in the next one.

I'll get back to you with more specific details early next week, most of the service mesh team is at KubeCon right now.

[2019-11-19 09:21] Laci21 commented on #328
Hi @res0nat0r,

If you want a specific version you can always use a concrete [release](https://github.com/banzaicloud/istio-operator/releases). For that, you can checkout to that tag and deploy from there.

Isn't there any relevant looking info in the logs before this `Reconciling` status is stuck? We can move this conversation to our [istio-operator community slack](https://community-banzaicloud.

[2019-11-19 15:14] coreywagehoft commented on #271
Thanks for the update @waynz0r. I’m at KubeCon as well so I wouldn’t be able to test it out this week.

[2019-11-19 16:30] res0nat0r commented on #328
Hi @Laci21,

Ah that makes sense, I can use the `release-1.x` branch and just pin the specific version in my yml.

This is what I see from the beginning of the pod logs before the repeating reconciling messages:

[code]

I'm happy to join the Slack org and help debug further, the link above isn't allowing me to create a guest account and sign in, do I need an invite link?

Thanks.

[2019-11-19 16:36] Laci21 commented on #328
Sorry, this is where you can join our Slack: https://slack.banzaicloud.io/

[2019-11-19 16:37] res0nat0r commented on #328
Thanks! I'll sign in in a bit.

[2019-11-19 18:51] matyix commented on #271
hey @coreywagehoft - we are here as well, drop by at SE74 if you want to chat.

[2019-11-20 23:50] mabushey opened #334 "Cannot use Kustomize to change the name from istio-sample to istio"
**Describe the bug**
Kustomize is awesome, the Bonzai operator is awesome, but I have no clue what the Bonzai Kustomize docs are even getting at. The operator is deployed via a make deploy and nothing needs to be tweeked so there is minimal need for kustomize. On the doc page `bases:` is used. This is deprecated and should be `resources:`

Once the operator is installed then I want to apply patche

[2019-11-21 08:23] Laci21 commented on #334
Hi @mabushey,

Glad you like the operator!

First of all, we use the `Kubebuilder v1` operator framework which uses `Kustomize` for make deploy, that's why it's there and we use `Kustomize 2.X` that's why `bases:` is used instead of `resources:`.

AFAIK, the names of Kubernetes resources cannot be updated so I think it won't work like that. What you can do is delete the resource and then create it

[2019-11-21 18:15] #328 closed

[2019-11-21 18:56] mabushey commented on #334
Banzai. :)

I wasn't very clear. From https://github.com/kubernetes-sigs/kustomize/blob/master/docs/v2.1.0.md#resources-expanded-bases-deprecated : `The bases field is now deprecated, and will be deleted in some future major release.`

 `Wouldn't that be sufficient for your use case?`
Absolutely not. Modifying `istio_v1beta1_istio.yaml` is the poster child for Kustomize, I can't think of a better

[2019-11-22 07:27] Laci21 commented on #328
@res0nat0r, the [0.4.2](https://github.com/banzaicloud/istio-operator/releases/tag/0.4.2) tag is up and contains your fix already. Thanks again for your contribution!

[2019-11-22 09:36] Laci21 commented on #334
Thanks for the additional info, I understand your use case a little more now!

Please give us some time to investigate this, I don't have a clear picture on why this does not work yet.

Until then just a guess: Don't you need to provide the `namespace: istio-system` field as well to the target when patching the Istio CR resource?

[2019-11-22 17:47] mabushey commented on #334
Hi @Laci21 :) I tried adding `namespace: istio-system` to the target but that didn't affect anything. Thanks for looking into this.

[2019-11-22 18:07] Laci21 commented on #334
Yeah, I was afraid so, it was only a wild guess :)

Probably it will be next week when we can look into this in more detail.

[2019-11-22 18:31] Starefossen opened #336 "Tracer can not be set to value "stackdriver""
**Describe the bug**

With the current CRD definitions for v1.4 the `tracing.tracer` can only be set to the following enums

https://github.com/banzaicloud/istio-operator/blob/8cf4c40cbe9ef567d8f272bb412ba5ed10923149/deploy/charts/istio-operator/templates/operator-istio-1.4-crd.yaml#L982-L986

**Steps to reproduce the issue:**

Deploy an istio with the following configuration:

[code]

**Expected

[2019-11-22 19:12] Laci21 commented on #336
Thanks for reporting this, @Starefossen!

Originally, when we added tracing support in the operator we did not have `stackdriver` support implemented, but since then we added the necessary logic to it to the code, so we might as well allow to use it now, it just needs to be tested.

I've just created a PR for this (#337), until it is merged you can test it on the `add-stackdriver` branch, if  you

[2019-11-26 18:41] jicowan opened #338 "Reconcile error, Istio resource not found"
**Describe the bug**
Installed the operator using the Helm chart (Helm v3).  Logs from the manager say that Istio resource cannot be found.

**Additional context**
Here are the logs from the manager:
[code]

[2019-11-26 18:47] waynz0r commented on #338
Hi @jicowan,

The `RemoteIstio` is to attach multiple clusters into one mesh, do you have `Istio` resource?

[2019-11-26 18:58] jicowan commented on #338
I am trying to create a mesh that spans multiple clusters. I do not have an Istio resource.  I created a namespace istio-system in the "downstream" cluster and applied the necessary RBAC roles and rolebindings.

[2019-11-26 19:20] waynz0r commented on #338
@jicowan,

The chart should have installed `Istio` and `RemoteIstio` CRDs. It doesn't apply any resources for those CRDs.

In a nutshell, the operator should be installed only onto the host/master cluster, You should create an `Istio` resource first on the master cluster (that will define your mesh configuration and trigger the mesh creation), create kubeconfigs for the remote clusters, add them a

[2019-11-26 19:22] jicowan commented on #338
The chart never created the Istio CRD.

[2019-11-26 19:25] waynz0r commented on #338
Which chart version did you try?

[2019-11-26 19:30] waynz0r commented on #338
If you are interested we have an #istio-operator channel on our [Slack](https://slack.banzaicloud.io) maybe we should debug this faster that way.

[2019-11-26 19:42] waynz0r commented on #338
@jicowan,

I tried the latest chart (0.0.27) with helm v3 and it installed everything correctly. Are you sure the `istios.istio.banzaicloud.io` is not defined? The operator couldn't even start without defined `Istio` and `RemoteIstio` CRDs.

[2019-11-26 22:22] jicowan commented on #338
I tried using the latest version as you said and it worked insofar as it created the Istio CRD.

[2019-11-26 22:22] #338 closed

[2019-11-27 12:26] Laci21 commented on #334
@mabushey, could you please join our [Slack channel](https://slack.banzaicloud.io/) and we can continue debugging on our [istio-operator channel](https://community-banzaicloud.slack.com/archives/CGKQF5HUP) more effectively.

[2019-11-27 22:55] mabushey commented on #334
Got it:

[code]
I was missing the group under target. If I can free up some time I'll write a blog article on using kustomize with the Banzai operator, as the operator is awesome but the existing Banzai kustomize docs are irrelevant and don't apply to someone using the operator to run Istio.

[2019-11-27 22:55] #334 closed

[2019-11-28 07:55] Laci21 commented on #334
Oh, it was only the `group` field missing, good that you sorted this out!

We are happy to accept guest posts on our [blog](https://banzaicloud.com/blog/), so if you have the time and you are interested, just let me know on [Slack](https://slack.banzaicloud.io/).

[2019-11-28 16:06] #336 closed

[2019-12-06 15:45] coreywagehoft commented on #271
@waynz0r any updates on when we might see this functionality?  We would like to test it out and adopt the operator.

[2019-12-12 10:32] #271 closed

[2019-12-12 13:56] waynz0r commented on #271
@coreywagehoft, we just released a new version of the operator with multiple mesh gateways support. Please let us know how it works for you!

[2020-01-20 02:32] sagikazarmark opened #356 "Upgrade k8s libs to at least 1.15"
**Is your feature request related to a problem? Please describe.**
The operator has rather old k8s lib versions.

I'm particularly affected by this:

https://github.com/kubernetes/apimachinery/commit/ed8af178d620cdb55580cddff6bfef9d3b00a7d7

In 1.17 the deprecated feature has been removed.

**Describe the solution you'd like to see**
Upgrade k8s to at least 1.15, but preferably 1.17

**Describe al

[2020-01-28 13:56] BoOgatti commented on #294
Hi,
In my case it will be useful for enabling HTTP/1.0 (PILOT_HTTP10: 1). Now I have to doing it manually

[2020-01-29 12:30] filipcieker opened #358 "Add new configuration options for pilot to specify "--registries" and "--consulserverURL""
**Is your feature request related to a problem? Please describe.**
Currently it's not possible to connect Pilot to Consul via configuration.

**Describe the solution you'd like to see**
I'd like to see 2 configuration options added for Pilot that would enable users to specify "--registries" and "--consulserverURL".

**Describe alternatives you've considered**
I don't think there are other sane opt

[2020-02-04 10:26] Laci21 commented on #310
Hi @mc1711,

As I mentioned earlier, we hadn't planned to add this feature to the operator rather we wanted to add it to [Backyards](https://banzaicloud.com/docs/backyards), which we did in [Backyards 1.1](https://banzaicloud.com/blog/backyards-release-1-1/).

In Backyards, you don't need to manually create the aformentioned `Policy` resources, you can achieve the same result by using the Backyard

[2020-02-04 10:26] #310 closed

[2020-02-06 12:58] filipcieker commented on #358
Thx :)

[2020-02-06 12:58] #358 closed

[2020-02-14 12:04] Laci21 commented on #294
Hi @mousavian and @BoOgatti,

Sorry for the unusually long delay with this feature, but finally it was implemented in #374, courtesy of @waynz0r!

You can use the new `additionalEnvVars` field under each component to set any custom environment variables for the Istio control plane components.

This feature will land in the next operator release (which will be on Monday most probably).

[2020-02-14 12:04] #294 closed

[2020-02-21 02:10] jescarri opened #378 "non root istio"
**Is your feature request related to a problem? Please describe.**

When running istio with a CNI instead of sidecar for istio-proxy it's possible to run all the controlplane (with the exception of the CNI daemonset) and users workloads with non root privileges.

**Describe the solution you'd like to see**
The ability to have a hardened PSP as the cluster default and user-workloads should be able

[2020-02-21 10:50] BoOgatti commented on #294
Thx guys! It works and helpfull. In first time It was slightly not obvious how to implementing this new feature and what kind of array it must be ))

Example, just for history:
[code]

[2020-02-21 11:56] Laci21 commented on #378
Hi @jescarri,

Thank you for your feature request! This is definitely a useful security feature which we are working on to add.

First, we are identifying for each and every Istio component and proxy container the least privileges that are needed to be able to run them properly, then we are going to add these privileges to every container's security context and lastly, we are going to provide the

[2020-02-21 17:42] jescarri commented on #378
@Laci21 ah! perfect, I was starting to get a list of all the required changes, as we have done some work already and have an istio install running as non root, using istioctl and then prepare for a PR, but you guys already working on it, so it's cool!

bellow is a draft of the listt:

[code]

[2020-02-27 17:34] rdeusser opened #383 "Helm chart deploys resources as 'istio-operator-operator'"
**Describe the bug**
Helm chart deploys resources as 'istio-operator-operator'.

**Steps to reproduce the issue:**
[code]

**Expected behavior**
Pod name should be `istio-operator-0` and not `istio-operator-operator-0`.

[2020-03-04 14:58] #383 closed

[2020-03-06 22:05] bmacauley-reward opened #390 "Priorityclass for Istio operator?"
**Is your feature request related to a problem? Please describe.**
We would like to add a priorityclass  of system-cluster-critical to the istio components

**Describe the solution you'd like to see**
Add priorityclass to istio-operator config

[2020-03-09 09:52] Laci21 commented on #390
Sure, we will implement this in the upcoming weeks.

[2020-03-10 09:56] jhynds-reward opened #391 "Update coredns configmap reconciler to use forward instead of proxy"
**Describe the bug**
The operator attempts to reconcile the coredns configmap in kube-system and overwrites the global section of it.  As of version 1.5.0 coredns (see https://github.com/coredns/coredns/issues/1443. or https://github.com/Azure/AKS/issues/1304) has deprecated the use of proxy in favour of th newer froward plugin and as such the reconcilliation causes coredns to fail and therefore t

[2020-03-10 09:58] jhynds-reward commented on #391
Block in coredns.go that handles the reconcilliation/overwrite:

![Screenshot 2020-03-10 at 09 55 20](https://user-images.githubusercontent.com/56545771/76301067-99f82300-62b5-11ea-9d8f-6af898242ce4.png)

Updated configmap with forward plugin:

![Screenshot 2020-03-10 at 09 55 31](https://user-images.githubusercontent.com/56545771/76301153-b8f6b500-62b5-11ea-8370-5ad719ea3333.png)

[2020-03-10 21:55] waynz0r commented on #391
@jhynds-reward,

thanks for reporting this!

[2020-03-12 14:12] bmacauley-reward commented on #391
This bug is pretty critical...it literally breaks coredns and starts a cascade of failures through EKS/kubernetes

This results in us having to rebuild the cluster...done it twice today :/

[2020-03-13 12:56] #16 closed

[2020-03-13 12:58] #15 closed

[2020-03-16 10:57] #390 closed

[2020-03-16 13:06] Laci21 commented on #391
@jhynds-reward and @bmacauley-reward, this should be fixed in `0.4.11` Docker image for Istio 1.4.x versions and in `0.5.1` for Istio 1.5.x.

[2020-03-16 13:06] #391 closed

[2020-03-16 13:11] Laci21 commented on #390
@bmacauley-reward, the feature is available in `0.4.11` Docker image for Istio 1.4.x versions and in `0.5.1` for Istio 1.5.x.

For the `system-cluster-critical` PriorityClass you will need K8s 1.17+, check out the [description of the field](https://github.com/banzaicloud/istio-operator/blob/release-1.5/pkg/apis/istio/v1beta1/istio_types.go#L668-L676) for more details. Let us know if it works as yo

[2020-03-19 23:29] bmacauley-reward commented on #390
Thanks guys!

[2020-03-30 15:45] baluchicken commented on #62
Banzai Cloud's Supertubes comes with a full mesh support. If you are interested please check https://banzaicloud.com/docs/backyards/overview/. If you want to read more about the key benefits of integrating Kafka with the mesh please read our [blog post](https://banzaicloud.com/blog/kafka-on-istio-benefits/)

[2020-03-30 15:45] #62 closed

[2020-04-09 15:50] rtselizondo opened #415 "Istio Operator Configuration of PDB and Pilot"
**Describe the bug**
The Pod Disruption Budget configuration selector deployed for istio pilot seems not to match what is deployed for the pod specification of istio pilot.

**Steps to reproduce the issue:**
Currently we have the following version deployed:
istio = "1.4.5"
helm chart = "0.0.36"
operator = "0.4.9"

Mostly standard deployment with mesh gateways.

Description of the Pod Disruption Bu

[2020-04-09 16:32] waynz0r commented on #415
@rtselizondo,

thanks for reporting this, we're looking into it!

[2020-04-16 17:43] Starefossen opened #416 "istio v1.5.1 fails with failed to reconcile resource: creating resource failed"
**Describe the bug**

Fresh install of Istio v1.5.1 with latest version of operator (v0.5.5) on GKE gives the following error:

[code]

**Steps to reproduce the issue:**

Apply the following istio config:

[code]

**Expected behavior**

Expected istio to start up without errors.

**Screenshots**

N/A

**Additional context**

[code]

[2020-04-24 10:05] #416 closed

[2020-04-24 17:23] Laci21 commented on #416
@Starefossen We have just released Docker image version `0.5.6` and Helm chart version `chart/istio-operator/0.0.46` with the fix. Enjoy!

[2020-04-24 17:34] Starefossen commented on #416
Thanks a lot ❤️

[2020-04-29 18:39] Starefossen opened #421 "istio-sidecar-injector stuck ContainerCreating"
**Describe the bug**

istio-sidecar-injector is stick in ContianerCreating for fresh install of Istio v1.5.1.

[code]

[code]

[code]

**Steps to reproduce the issue:**
Please describe the steps to reproduce the issue.

[code]

**Expected behavior**

Expected

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other context about the proble

[2020-04-29 19:24] Laci21 commented on #421
Do you intend to use `istiod` or not? `istiod` has roughly the functionalities of `Pilot`, `Galley`, `Citadel` and the `Sidecar Injector`. So usually you should either enable istiod only and disable all other four components or you should disable istiod and enable the other components.

If you want to use `istiod` only here's a sample CR: https://github.com/banzaicloud/istio-operator/blob/release-

[2020-04-29 19:28] Starefossen commented on #421
@Laci21 thanks for the reply, yes, the intention was to use `istiod` but I got a little confused if the `SidecarInjector` was included in `istiod` or if I needed to enabled it. It is defined in `istio_v1beta1_istio.yaml` you linked to but `enabled.false`. I'll try again without `Citadel` and `SidecarInjecto` and see if it is working :D

Thanks for making this great operator.

[2020-04-29 19:42] audrey-brightloom commented on #421
I have the same issue - the first pod that starts in a new deployment will wait 10 min on the init-container, once thats started the other pods will start immediately after.

[2020-04-29 22:28] audrey-brightloom commented on #421
actually - my issue isn't quite the same - its the `istio-init` container that waits for 10 min

[2020-04-30 07:58] Laci21 commented on #421
@audrey-brightloom, could you please open a separate issue and share more details of your environment and setup similarly as @Starefossen did? In that case we can take a closer look and possibly replicate your issue.

[2020-04-30 19:54] audrey-brightloom opened #423 "Init container istio-init pausing during startup"
**Describe the bug**
When deploying via Helm the `istio-init` container of the first pod to start will wait for 7 minutes before initialization. Once that container has completed the service along with the `istio-proxy` container will start 1 min later.

Once the first pod has completely started, the rest of the pods in the replica set start and complete right away.

**Steps to reproduce the issue

[2020-04-30 20:12] Laci21 commented on #423
Thanks for reporting! It sounds weird, I'll try to replicate it and get back to you.

Which cloud platform do you use, what is your Kubernetes version?

If you see any pending pods or errors in pod logs that would help a lot! Also, could you send the logs of the long running istio-init container please?

[2020-04-30 20:28] audrey-brightloom commented on #423
Kubernetes version: `1.15.4`
on AWS - installed and maintained with KOPS

Unfortunately i'm not seeing errors anywhere, which is what has made this hard to trouble shoot. The init container logs don't seem to indicate any slowness - once it moves from `waiting` it seems to be quick

[code]

[2020-04-30 20:46] waynz0r commented on #423
Could you please check the events of the pods if there is something related there?

[2020-04-30 21:24] audrey-brightloom commented on #423
I looks like the most recent events were cleared out - but I've been watching deployments and it typically goes something like:

1. Pod is created and set to `Pending`
2. ContainersReady will be `False` and list `istio-init` `istio-proxy` and my app
3. During this time nothing is generally happening - about 7 min in `istio-init` becomes ready
4. After a minute `istio-proxy` becomes ready followed

[2020-05-03 13:46] Laci21 commented on #423
@audrey-brightloom, I tried to replicate your issue using PKE on AWS ([PKE](https://github.com/banzaicloud/pke) is our Kubernetes distro) with Kubernetes version `1.15.4`, helm chart version `0.0.45`,  Istio Operator version `0.5.5` and with the exact same Istio CR you provided above, but I could not reproduce your issue.

Here's an event log from one of my application pods where all seems to be f

[2020-05-05 19:06] audrey-brightloom commented on #423
So after a *ton* of digging - This may have been a CPU request problem.
Pods were created and listed as running - but containers were `NotReady`.  I added an additional node to the pool and the problem hasn't come back.

I'm running Istio with the default levels of `requests` and `limits`, the `requests` already seem pretty low. I'm thinking going lower wouldn't work though, right?

[2020-05-06 10:19] Laci21 commented on #423
For the Istio control plane pods the default resource `request` is `10m` CPU. That is already pretty low, it is likely that more than that will be used, so pods would need to be rescheduled on other nodes if the resource capacity is reached anyway.

In general, if you find pods which usually use less resources than configured as their resource `requests` those could be lowered to spare some nodes,

[2020-05-07 07:50] Laci21 commented on #421
@Starefossen, have you managed to solve the issue with the suggestion above or does the issue still persist?

[2020-05-07 07:52] Laci21 commented on #423
Solved by adding more resources to the cluster.

[2020-05-07 07:52] #423 closed

[2020-05-08 11:53] Laci21 commented on #415
@rtselizondo, Istio operator version `0.4.14` should fix this issue.

[2020-05-08 11:53] #415 closed

[2020-05-21 06:44] tanjunchen opened #429 "add an example for deploying Istio cluster with istio-operator"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like to see**
A clear and concise description of what would you like to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've cons

[2020-05-21 06:47] Laci21 commented on #429
Have you seen the CR samples here? https://github.com/banzaicloud/istio-operator/tree/release-1.5/config/samples

There is an example in the readme as well: https://github.com/banzaicloud/istio-operator#installation

[2020-05-21 07:07] tanjunchen commented on #429
@Laci21  Yes I have seen it. Thanks

[2020-05-21 07:07] #429 closed

[2020-05-21 08:10] tanjunchen commented on #429
@Laci21  now i have some question about this istio-operator. could you help me?
1. the relationship  between istio-operator and [istio/istio/operator](https://github.com/istio/istio/tree/master/operator)
2. About the upgrade of sidecar with istio-operator. see https://github.com/banzaicloud/istio-operator/blob/release-1.5/docs/upgrade.md#istio-data-plane-upgrade.
3. I should modify which files if

[2020-05-21 10:28] tanjunchen opened #430 "Can't make deploy"
**Describe the bug**
A clear and concise description of what the bug is.

/home/k8s-master/istio-operator
git branch
origin/release-1.4

[code]

when i  ``` make deploy ```

[code]

[code]

[code]

[code]

**Steps to reproduce the issue:**
Please describe the steps to reproduce the issue.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If app

[2020-05-21 12:33] Laci21 commented on #430
Should be fixed in #431, could you please retry with that?

[2020-05-21 12:33] #430 closed

[2020-05-23 03:31] tanjunchen commented on #430
@Laci21 Thanks

[2020-05-23 13:11] Laci21 commented on #429
@tanjunchen, please see my answers below:

We [open-sourced](https://banzaicloud.com/blog/istio-operator/) this Banzai Cloud Istio operator in February, 2019 and it's been used in production by many companies since then. The other Istio operator by the Istio community was released much later and it is still not advised to be used in production in the newest Istio 1.6 release according to the [Isti

[2020-05-24 04:14] tanjunchen commented on #429
@Laci21
Thank you very much . I get it. Thanks again!

[2020-05-24 04:39] tanjunchen commented on #429
@Laci21  for https://github.com/banzaicloud/istio-operator/blob/release-1.5/docs/upgrade.md#deploy-sample-bookinfo-application

Can I use NodePort?

[2020-05-24 07:27] tanjunchen opened #434 "I Can't upgrade the istio cluster on k8s And Delete the istio cluster"
**Describe the bug**
A clear and concise description of what the bug is.

Fisrtly , I install the istio cluster by
[code]

**Steps to reproduce the issue:**
Please describe the steps to reproduce the issue.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add

[2020-05-24 07:28] tanjunchen commented on #434
Inconsistent with the description in the upgrade text

[2020-05-25 08:05] Laci21 commented on #429
You can indeed determine if the service type of an ingress/egress gateway is ClusterIP, NodePort or LoadBalancer: https://github.com/banzaicloud/istio-operator/blob/b180a46a8ac3df339dfaf1b91b85a6719f6ea7cd/pkg/apis/istio/v1beta1/meshgateway_types.go#L43-L44

Regrading that specific example, the istio-ingressgateway service has LoadBalancer type so that it can be accessed from outside of the cluste

[2020-05-25 13:08] tanjunchen commented on #429
I can't directly kubectl edit  istio-ingressgateway svc to make it to a NodePort type in my local cluster.
Must the above API types be redefined?

[2020-05-25 13:10] tanjunchen commented on #434
cc @Laci21

[2020-05-25 13:16] Laci21 commented on #429
You should edit the Istio Custom Resource: https://github.com/banzaicloud/istio-operator/blob/release-1.6/config/samples/istio_v1beta1_istio.yaml#L45

The operator will take care of the rest for you.

[2020-05-26 07:58] Laci21 commented on #434
@tanjunchen, based on what I can see from your logs, the control plane upgrade went through perfectly.

Please note, that for Istio 1.5 `istiod` was introduced and it is turned on by default, which consists the functionalities of `Citadel`, `Galley`, `Pilot` and the `Sidecar Injector`. That is why at the end you have an `istiod` pod instead of the four aformentioned components.
More info: https://

[2020-05-26 08:49] Laci21 commented on #421
Please reopen if the issue still persists with the recommend solution.

[2020-05-26 08:49] #421 closed

[2020-05-27 07:34] Laci21 commented on #434
Doc is fixed in #436

[2020-05-27 07:34] #434 closed

[2020-05-29 15:48] jescarri commented on #378
Hey guys, is there any work to get istio to run as non root done?

I wonder if the newest release of the operator has this feature.

Thanks!

[2020-06-03 04:29] sb1975 commented on #199
Tried to build multiple control plane using Banzaicloud operator but it didnt work, I guess this is pending still and no roadmap when this will be done..
$ kubectl create -n istio-system-mobility-oam -f config/samples/istio_v1beta1_istio.yaml
Error from server (istio config resource already exists): error when creating "config/samples/istio_v1beta1_istio.yaml": admission webhook "istio.validation.

[2020-06-08 15:47] Laci21 commented on #199
Hi @sb1975,

You are right, it is not possible to create multiple control planes just yet, but it is on our roadmap to make this work properly.

May I ask what is your use case you are trying to solve with this approach?

[2020-06-11 08:33] Laci21 commented on #378
Hi @jescarri,

Sorry for getting back to you just now.

Well, the newest release kind of has this feature :)

You might know that in Istio 1.6 the legacy Istio control plane components (Pilot, Galley, Citadel, Sidecar Injector) were removed completely and there is a single istiod deployment instead of them. Also, part of the logic for SDS was moved to istiod and the NodeAgent component is not used

[2020-06-11 15:57] jescarri commented on #378
awesome! thanks I will give it a try in the upcoming days!

[2020-06-14 20:31] Starefossen opened #445 "Does not work with terraform-kubernetes-provider-alpha"
**Describe the bug**

This operator does not currently work with the new [terraform-kubernetes-provider-alpha](https://github.com/hashicorp/terraform-provider-kubernetes-alpha) which uses the `kubectl dry-run=server` which is gives the following error on terraform apply:

[code]

Setting `sideEffects: None` to the `validatingwebhookconfigurations/istio-operator-webhook` appears to mitigate this is

[2020-06-15 02:53] danil-fomichev opened #446 "Manage externalTrafficPolicy through operator"
**Is your feature request related to a problem? Please describe.**

Right ingress gateway service is deployed with externalTrafficPolicy=Cluster and there is no way to change it to 'Local' type in operator config. But externalTrafficPolicy=Local is the only way to retrieve real source IP from the access log.

**Describe the solution you'd like to see**

I would like to see the following option in

[2020-06-15 07:42] Laci21 commented on #445
#442 should solve this issue, see specifically this commit: https://github.com/banzaicloud/istio-operator/pull/442/commits/f2da8135c6457b82957853ed49e71b481800d671

[2020-06-15 07:54] Starefossen commented on #445
Fantastic @Laci21 🤩

[2020-06-16 17:01] #445 closed

[2020-06-16 20:23] #378 closed

[2020-06-17 07:05] Laci21 commented on #445
@Starefossen, this landed in docker image version `0.6.2`, helm chart version `0.0.51`.

[2020-06-17 07:12] Laci21 commented on #378
@jescarri, we have made some adjustments to this in #444. You should be able to try it using Kustomize with the psp overlay described at the bottom of this README: https://github.com/banzaicloud/istio-operator/blob/release-1.6/config/README.md

This is just an example PSP setup, of course you can adjust them to your needs.

This security feature landed in docker image version `0.6.2`, helm chart v

[2020-06-17 11:54] Starefossen commented on #445
Awesome 🤩

[2020-06-24 14:36] Laci21 commented on #378
Here's the blog post on the subject, for further reference: https://banzaicloud.com/blog/istio-operator-psp/

[2020-06-24 15:49] jescarri commented on #378
awesome thanks!

[2020-06-26 10:25] satishmane opened #454 "no matches for kind HorizontalPodAutoscaler"
**Describe the bug**
A clear and concise description of what the bug is.

helm install --name=istio-operator --namespace=istio-system banzaicloud-stable/istio-operator --version 0.0.51
===
NAME                   READY   STATUS             RESTARTS   AGE
pod/istio-operator-0   1/2     CrashLoopBackOff   5          5m29s
Log
===
{"level":"error","ts":1593166431.6729662,"logger":"kubebuilder.source",

[2020-06-26 10:43] Laci21 commented on #454
@satishmane, thanks for the issue!

What is your Kubernetes version and which cloud provider and Kubernetes distribution are you using?

[2020-06-26 10:48] Laci21 commented on #454
Also, what does this say to you?

[code]

[2020-06-26 10:52] satishmane commented on #454
thanks @Laci21

Kubernetes version
================

Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.4", GitCommit:"c96aede7b5205121079932896c4ad89bb93260af", GitTreeState:"clean", BuildDate:"2020-06-18T17:02:08Z", GoVersion:"go1.13.12", Compiler:"gc", Platform:"linux/amd64"}

Server Version: version.Info{Major:"1", Minor:"14+", GitVersion:"v1.14.10-gke.36", GitCommit:"34a615

[2020-06-26 11:42] satishmane opened #455 "side car auto injection did not inject side car when pod deployed in namespace enabled for istio injection"
**Describe the bug**

istio side car not injected into pod that was deployed istio injection enabled namespace

**Steps to reproduce the issue:**

helm install --name=istio-operator --namespace=istio-system banzaicloud-stable/istio-operator 0.0.48
istio installed successfully.

NAME                   READY   STATUS    RESTARTS   AGE
pod/istio-operator-0   2/2     Running   0          19m

NAME

[2020-06-28 06:17] KateGo520 opened #456 "Errors you may encounter when upgrading the library"
## An error will happen when upgrading library _mholt/caddy_:

### github.com/mholt/caddy
-Now Moved To: github.com/caddyserver/caddy
-Latest Version: v2.1.0   (Latest commit c9049bd yesterday)
-Where did you use it:
https://github.com/banzaicloud/istio-operator/search?q=mholt%2Fcaddy&unscoped_q=mholt%2Fcaddy
-Detail:

[code]

[code]
This problem was introduced since **_caddyserver/caddy v1.0.4(co

[2020-06-28 06:18] KateGo520 commented on #456
@Laci21  @waynz0r  Could you help me review this issue? Thx :p

[2020-06-29 07:17] Laci21 commented on #454
The Istio operator supports Kubernetes 1.15.0+: https://github.com/banzaicloud/istio-operator#istio-operator-installation
You are on `v1.14.10-gke.36`, so please try with a higher Kubernetes version to be able to properly use the operator.

Also, you should have `autoscaling/v2beta2` enabled on your cluster, which should be the case by default with higher Kubernetes versions on GKE.

[2020-06-29 07:25] Laci21 commented on #455
The Istio operator manages the sidecar injection enabled namespaces for you with this field in the Istio CR: https://github.com/banzaicloud/istio-operator/blob/release-1.6/config/samples/istio_v1beta1_istio.yaml#L14-L15

You need to add the desired namespace's name (`test` in your case) to this array, the operator will label the namespace and then you should be able to deploy pods to that namespac

[2020-06-29 13:27] #456 closed

[2020-06-29 13:27] Laci21 commented on #456
@KateGo520, in #459 @waynz0r updated the repo to use Go modules.

Let us know if this solves your issue!

[2020-06-29 13:32] KateGo520 commented on #456
@Laci21  Thank you for your contribution ！Wish you every success in migrating to Go Modules！

[2020-06-30 08:10] satishmane commented on #454
@Laci21 thanks

[2020-06-30 08:10] #454 closed

[2020-06-30 08:16] satishmane commented on #455
@Laci21 thanks
But do I need to edit istio operator yaml? OR is there way I can add namespaces post installation of istio operator. Because if I create new namespaces, how do I enable it from command line

[2020-06-30 08:45] Laci21 commented on #455
You just need to edit the `Istio` CR on your cluster post installation. Something like this with a one liner:
[code]

[2020-06-30 10:26] satishmane commented on #455
@Laci21 thanks.
I was aware of something like "istioctl manifest generate -f patch.yaml". But thought of knowing banzai istio operator.

thank again. Now I will test and update here.

[2020-06-30 10:30] Laci21 commented on #455
For the Banzai Cloud Istio Operator you don't need to use istioctl at all.

You are welcome, I'm closing this, please feel free to reopen if you have further issues with this.

[2020-06-30 10:30] #455 closed

[2020-06-30 15:19] satishmane commented on #455
@Laci21
Hi,
I installed istio 1.5 version as below. In order to apply patch, I do not see istio kind in istio-system namespace.

helm install --name banzai-istio-operator-1-5 banzaicloud-stable/istio-operator --version 0.0.48 --namespace istio-system

NAME:   banzai-istio-operator-1-5
LAST DEPLOYED: Tue Jun 30 12:54:35 2020
NAMESPACE: istio-system
STATUS: DEPLOYED

RESOURCES:
==> v1/Pod(related)
N

[2020-07-01 07:08] Laci21 commented on #455
It seems fine to me. `kubectl -n=istio-system get istios` should return the Istio CR.

[2020-07-01 07:15] satishmane commented on #455
@Laci21

It did not return anything...

kubectl get pods -n istio-system
NAME                          READY   STATUS    RESTARTS   AGE
banzai-istio-operator-1-5-0   2/2     Running   0          110s

 kubectl get istio -n istio-system
No resources found in istio-system namespace.

 kubectl get istios -n istio-system
No resources found in istio-system namespace.

[2020-07-01 07:21] Laci21 commented on #455
Oh, okay sorry. So you've installed the istio operator and the `istios.istio.banzaicloud.io` CRD to your cluster, but now you need to create an Istio CR as well. You can find example Istio CRs here: https://github.com/banzaicloud/istio-operator/tree/release-1.5/config/samples.

You can create one e.g. with: `kubectl create -n istio-system -f config/samples/istio_v1beta1_istio.yaml`

[2020-07-01 07:27] satishmane commented on #455
thanks @Laci21

Ok, Do I need to uninstall istio operator before creating @Laci21 CR. OR I can separately create CR in addition to helm based istio operator installation

[2020-07-01 07:31] Laci21 commented on #455
You need the operator to reconcile based on the Istio CR, so do NOT remove the operator, but create it alongside the operator.

[2020-07-01 12:40] satishmane commented on #455
@Laci21
thanks. finally worked.

[2020-07-20 12:49] khernyo opened #470 "Cannot disable k8s ingress from Istio resource"
**Describe the bug**
The ingress-controller is active in Istio even though it's disabled in the configuration.

**Steps to reproduce the issue:**
1. install istio-operator
1. apply the sample config: `config/samples/istio_v1beta1_istio.yaml`
1. check that `k8singress` is disabled in the `istio-system/istio-sample` Istio resource:
[code]
1. create an ingress and service:
[code]
1. observe that requ

[2020-08-06 10:28] satishmane opened #477 "global.proxy.privileged=true - how do we set in patch to enable tcpdump in side car"
**Describe the bug**

Side car proxy does not support tcpdump command when executed using kubectl exex

**Steps to reproduce the issue:**

kubectl exec it pods/<podname> -c istio-proxy -- sh sudo tcpdump

**Expected behavior**
sudo tcpdump should run

What value should be set in istio operator patch

e.g. is below command right?
kubectl patch istio my-istio -n istio-system --type=json -p='[{"op":

[2020-08-06 12:34] Laci21 commented on #477
The patch command looks right and then the pod with the sidecar proxy should be restarted so that it gets the new config. Doesn't it work?

[2020-08-07 04:32] satishmane commented on #477
yes, thanks it works.

[2020-08-07 04:32] #477 closed

[2020-08-16 09:30] satishmane opened #485 "no certs in /etc/istio-certs mount"
Hi,
I applied below annotations to my pod in order to use use istio provided certs. But there are no certs listed in /etc/istio-certs volumeMount. If I install istio using istioctl, then it works .. I can see certs in my pod's istio side car volumeMount. But same does not work in banzai helm based istio installation. I tried patching mountMtlsCerts to true, but did not work.
Can you please suggest

[2020-08-17 09:23] satishmane commented on #485
I do not see global.mountMtlsCerts set to true  in the istio-sidecar-injector map even though I applied patch succesfully and I can see it set to true CR. Is this the reason?

[2020-08-17 09:34] Laci21 commented on #485
Hi,

Yeah, that seems to be the issue, let me verify and prepare a quick fix.

[2020-08-17 09:45] #485 closed

[2020-08-17 09:49] Laci21 commented on #485
The `banzaicloud/istio-operator:0.6.9` docker image should fix this problem, could you please update your istio-operator statefulset to use this version and verify that it solves the problem for you?

[2020-08-17 09:53] satishmane commented on #485
@Laci21  thank you . I will apply and update here soon

[2020-08-17 11:09] satishmane commented on #485
@Laci21
Now istio-certs volume and volumeMount as /etc/certs are getting added to istio side car as part of autoInjection.
But istio-certs volume points to istio-default instead of emptyDir medium : memory

So when I do
exec -it <my pod> -n <namepsace> -c istio-proxy -- ls -ltr "/etc/certs"

total found files is 0

[2020-08-17 13:45] satishmane commented on #485
@Laci21
I attached service account name to my pod so that side car injector will attach istio-certs volume to istio.mypodserviceaccount secret. But should not this istio.mypodserviceaccount secret be automatically created by istio side injector?

Can you please help with fix

[2020-08-17 16:16] satishmane opened #487 "Envoy proxy is NOT ready: config not received from Pilot"
**Describe the bug**
Reference from https://github.com/banzaicloud/istio-operator/issues/485#issuecomment-674780801

When mountMtls set to true, secrets created using serviceAccount are mounted to istio-certs volume. istio-proxy starts crashing

2020-08-17T16:05:47.319811Z	warn	Envoy proxy is NOT ready: config not received from Pilot (is Pilot running?): cds updates: 0 successful, 0 rejected; lds

[2020-08-19 03:38] satishmane commented on #487
disabled mountMtls. This is not what I am looking for

[2020-08-19 03:38] #487 closed

[2020-08-19 03:43] satishmane opened #489 "proxy.istio.io/config annotation does not create env variable in side car"
**Describe the bug**

Below annotation should add OUTPUT_CERTS env variable to istio-proxy container. But it does not add.

proxy.istio.io/config: |
   proxyMetadata:
      OUTPUT_CERTS: /etc/istio-certs

**Steps to reproduce the issue:**

Add below annotation and check istio container. There is no OUTPUT_CERTS env var created
        sidecar.istio.io/inject: "true"
        proxy.istio.io/config:

[2020-08-19 05:46] satishmane commented on #489
@Laci21

I found below missing in the istio-proxy inside istio-sidecar-injector configmap. Thats why it is not adding env variable from proxyconfig. Is this right?
        {{- range $key, $value := .ProxyConfig.ProxyMetadata }}
        - name: {{ $key }}
          value: "{{ $value }}"
        {{- end }}

[2020-08-19 07:07] #489 closed

[2020-08-25 16:15] satishmane opened #499 "banzai 0.6.10 with istio 1.6.8 - operator reconcile fails"
**Describe the bug**

{"level":"error","ts":1598294823.9229474,"logger":"kubebuilder.controller","msg":"Reconciler error","controller":"istio-controller","request":"istio-system/istio-carnet","error":"could notreconcile istio: failed to reconcile dynamic resource: creating resource failed: Internal error occurred: failed calling webhook \"validation.istio.io\": Post https://istiod.istio-system.svc

[2020-08-26 11:43] satishmane opened #500 "Istio 1.6.8 - new rotated certs are not stored to /etc/istio-certs volumeMount"
Bug description

Added below annotations to pod. On sidecar injection, I can see certs stored in /etc/istio-certs volume.
exec -it -n test -c istio-proxy-- ls -ltr /etc/istio-certs
exec -it -n test -c istio-proxy-- curl http://localhost:15000/certs
exec -it -n test -c istio-proxy-- cat /etc/istio-certs/cert-chain.pem

But when certs expire and new certs are issued. the new certs are not written to

[2020-08-26 12:25] waynz0r commented on #499
@satishmane,

was it a temporary error or are you getting it constantly?

[2020-08-26 12:42] waynz0r commented on #500
@satishmane,

which operator and proxy image versions do you use?

[2020-08-26 13:16] satishmane commented on #500
@waynz0r
Here is output from describe

 istio-proxy:
    Container ID:
    Image:         docker.io/istio/proxyv2:1.6.8

   manager:
    Image:      banzaicloud/istio-operator:0.6.11

[2020-08-26 19:33] waynz0r commented on #500
@satishmane,

are you sure it works with `istioctl` based install?

I tested it with `istioctl v1.6.8` and it seems to me that there is a bug  in the upstream `docker.io/istio/proxyv2:1.6.8` image.

The initial cert dump happens, but because of the bug the cert won't be overwritten in the output directory when the rotation happens.

[2020-08-27 02:32] satishmane commented on #500
@waynz0r

Please find below sample httpbin app test, it has proxy version 1.6.8. I pasted pod contents. And also certs file timestamps changing every 5 minute as they get dumped.

kubectl exec -it pods/httpbin-6dbf8fd74-cplg4 -n demo -c istio-proxy -- ls -ltr /etc/istio-certs
total 12
-rwxr-xr-x 1 istio-proxy istio-proxy 1675 Aug 27 02:20 key.pem
-rwxr-xr-x 1 istio-proxy istio-proxy 2193 Aug 27 02

[2020-08-27 14:58] Laci21 commented on #499
Seems to be only a temporary issue, please reopen if you experience this constantly or it causes any issues!

[2020-08-27 14:58] #499 closed

[2020-09-01 09:28] #446 closed

[2020-09-01 09:34] Laci21 commented on #446
Hi @danil-fomichev,

Sorry for not getting back to this issue earlier, but in the newest release (image: `banzaicloud/istio-operator:0.7.1`, chart `0.0.61`) the feature is available.

Please note that the name of the field is `serviceExternalTrafficPolicy`, see the PR description for more details.

[2020-09-01 19:39] mrhillsman opened #504 "Port permissions error on install attempt"
**Describe the bug**
Unable to install the operator in OpenShift 4.6

After creating the subscription, Istio pods are crashing with the following issue:

{"level":"error","ts":1596832528.4924417,"logger":"entrypoint","msg":"unable to run the manager","error":"listen tcp :443: bind: permission denied","stacktrace":"github.com/banzaicloud/istio-operator/vendor/github.com/go-logr/zapr.(*zapLogger).Er

[2020-09-02 09:33] Laci21 commented on #504
Hi,

The docker image version `0.1.6` is really old, do you still have the issue with `0.7.1` (for Istio 1.7) or `0.6.12` (for Istio 1.6)?

[2020-09-03 02:52] satishmane opened #506 "istio proxy unnecessary routes logs"
**Describe the bug**

Istio proxy logging too many entries related to istio routes, especially for kafka / zookeeper pods. If I disable accessLog, then will that stop everything or logging below unnecessary logs

**Steps to reproduce the issue:**

Enable mtls on kafka/zookeeper

**Expected behavior**

Istio proxy log should have only envoy start up, istiod config sync up log

**Additional context*

[2020-09-03 08:00] Laci21 commented on #506
You should be able to disable only access logging if you set [this field](https://github.com/banzaicloud/istio-operator/blob/release-1.7/config/samples/istio_v1beta1_istio.yaml#L115) to `""` and then restart your pods

[2020-09-03 09:36] satishmane commented on #506
Hi @Laci21
thanks. worked. I thought I can use this annotation sidecar.istio.io/logLevel to switch off at pod level

[2020-09-03 09:36] #506 closed

[2020-09-07 00:59] mrhillsman commented on #504
Great to hear, the package for the operator needs to be updated to reflect the change: https://github.com/operator-framework/community-operators/tree/master/upstream-community-operators/istio

You can see from the clusterserviceversion the current image:
https://github.com/operator-framework/community-operators/blob/master/upstream-community-operators/istio/0.1.6/istio-operator.0.1.6.clusterservic

[2020-09-07 09:20] satishmane opened #509 "istio 1.6.8 - sidecar.istio.io/proxyCPULimit and other resource annotations not overriding global resources"
**Describe the bug**
A clear and concise description of what the bug is.

Added below resource annotations in a pod to override global settings. But it does not work. they are not overriding when istio proxy is injected

        sidecar.istio.io/proxyCPULimit: "500m"
        sidecar.istio.io/proxyMemoryLimit: "500Mi"
        sidecar.istio.io/proxyCPU: "300m"
        sidecar.istio.io/proxyMemory: "

[2020-09-07 11:57] Laci21 commented on #504
We support and recommend [Istio operator installation](https://github.com/banzaicloud/istio-operator#istio-operator-installation) by Helm, Kustomize and [Backyards](https://banzaicloud.com/products/backyards/). We frequently release new operator versions and always keep these aforementioned installation methods up-to-date with the new versions.

We cannot really keep up-to-date with the operatorhu

[2020-09-07 12:59] #509 closed

[2020-09-07 13:00] Laci21 commented on #509
Thanks for reporting this! The issue should be fixed in Docker image versions `0.6.13` and `0.7.2`.

[2020-09-08 14:48] mrhillsman commented on #504
Would you like for us to remove the operator from the hub in this case?

[2020-09-08 16:02] matyix commented on #504
Yes, please feel free to remove it, it was more of a pain then a benefit to our users. Could you remove all the other operators we have once published but gave up maintaining the operator hub updates?

[2020-09-08 16:02] #504 closed

[2020-11-01 12:49] Smirl opened #543 "Differences to the official Istio operator"
**Is your feature request related to a problem? Please describe.**
I have been looking to upgrade from Istio 1.4 using helm to 1.5+ using the istio operator. Reading the official docs the operator is the way to go. Googling the istio operator also returns results for this project. It is confusing that both have the same name, and there is no mention of the official operator on the README.

**Descr

[2020-11-01 14:37] matyix commented on #543
@Smirl This project has been open sourced around 9+ months before any `official` or other Istio operator has been ever built, see the [initial release announcement](https://banzaicloud.com/blog/istio-operator/). We have built it for our own internal needs, as it's a core part of our [Backyards](https://banzaicloud.com/products/backyards/) service mesh platform/Istio distribution and it's used in p

[2020-11-01 14:37] #543 closed

[2020-11-01 16:12] Smirl commented on #543
Thanks for the super speedy reply @matyix! I think the other istio operator supports pretty much everything with customisation, helm value changes, and resource overlays. However, no need to deprecate this project if you don't need to, that wasn't what I was getting at.

It would be great to see that paragraph you shared in the readme so everyone has the context/history for the project. Happy to r

[2020-11-30 14:21] bonifaido opened #550 "Use CA Certificate from Vault"
**Is your feature request related to a problem? Please describe.**
It would be nice if the CA secret could be read from Vault instead of letting Istio generate one.

**Describe the solution you'd like to see**
An attribute block in the Istio CR would control the source of CA certificate.

`vault-env` could be used to authenticate and read the defined Secret from Vault and write the files to an eph

[2020-12-29 15:15] vsychov commented on #445
Hi guys, it looks like this is still reproducible, I made PR with fix: #556

[2021-01-05 12:12] #550 closed

[2021-01-05 16:30] Laci21 commented on #500
Hi @satishmane,

As verified in [this comment](https://github.com/istio/istio/issues/26821#issuecomment-683192675), this was indeed a bug in the upstream 1.6.8 proxy image. Should be solved in 1.6.9 and in all Istio 1.7 and 1.8 versions. (Since Istio 1.6 is EOL it is recommended to update to those versions.)

Closing this as the issue is solved upstream and this is not an operator issue.

[2021-01-05 16:30] #500 closed

[2021-01-05 16:37] Laci21 commented on #206
Since Istiod is introduced, this is obsolete now for the Istio components (gateways have their own CRD already).

[2021-01-05 16:37] #206 closed

[2021-01-30 06:36] shabbir-taulia opened #577 "isitio operator latest helm chart version not available in repo"
**Describe the bug**
The latest release of the helm chart for istio-operator is not available upstream. The last version available is `0.0.73`.
Using the upstream chart via dependencies in an child chart fails
[code]

[code]

**Steps to reproduce the issue:**
[code]
[code]
**Expected behavior**
The latest version i.e `0.0.74` should be available in the banzai cloud helm repo.

**Screenshots**
If a

[2021-01-30 15:00] Laci21 commented on #577
Hi @shabbir-taulia,

It has not been released yet, I've just released it, it should solve your issue.

[2021-01-30 15:00] #577 closed

[2021-02-27 00:19] nikore opened #597 "Add in support for custom_tags section in traces"
**Is your feature request related to a problem? Please describe.**
I would like to be able to set a few custom_tags in our istio tracing environment. In my specific use case I would like to add a "cluster_name" tag to all traces inside that cluster. Istio will only write to the Jagger collector, so I cannot point to an agent for example and have that add the tag for me.

**Describe the solution yo

[2021-03-03 09:15] #597 closed

[2021-04-27 16:23] khernyo opened #643 "Istio-operator is not cleaned up properly on Kubernetes 1.20+"
**Describe the bug**

When deleting an Istio resource on Kubernetes 1.20, some resources created by istio-operator are not deleted.
This is already a problem, but there is a more serious issue: one of the resources left in the cluster is a ValidatingWebhookConfiguration, and it prevents the reconciliation of any further Istio resources. Deleting the
leftover ValidatingWebhookConfiguration unblocks

[2021-06-03 08:25] AdheipSingh opened #673 "use corev1 event warning for record"
**Describe the bug**
This is not exactly a bug, just a question. I see strings being used in here.  https://github.com/banzaicloud/istio-operator/blob/bd620ce9287a6370af31faba74e955a6e68dbd45/pkg/controller/istio/istio_controller.go#L439

Its possible to use corev1.EventWarning and corev1.EventNormal as args here as described here. https://github.com/kubernetes/api/blob/master/core/v1/types.go#L54

[2021-06-03 15:21] #673 closed, assigned to nobody

[2021-06-10 07:39] Kuleshov-Arsentii opened #678 "Operator does not recreate ServiceAccount and ConfigMap for CNI after status update failed"
**Describe the bug**
At some point istio-operator got a lot of "Connection closed early" responses to ".watch" requests from apiserver in GKE, and started to re-create underlying resources for `kind: Istio` resource.
So operator recreated almost everything, except "istio-cni" ServiceAccount and "istio-cni-config" ConfigMap. Which led to the inoperability of pods of "istio-cni-node" Daemonset and "

[2021-06-14 14:00] Laci21 commented on #678
@Kuleshov-Arsentii, could you please share your Istio CR?

Any relevant logs in istio-operator pod?

[2021-06-15 16:42] Veres72 commented on #678
Hello @Laci21

<details>
  <summary>istio CR</summary>

[code]

</details>

<details>
  <summary>logs</summary>

  Spoiler text. Note that it's important to have a space after the summary tag. You should be able to write any markdown you want inside the `<details>` tag... just make sure you close `<details>` afterward.

[code]

</details>

[2021-06-16 10:01] Laci21 commented on #678
@Kuleshov-Arsentii  and @Veres72,

I cannot reproduce the issue either, all seems to be working fine for me, the `istio-cni-config-mesh` Configmap and the `istio-cni-mesh` ServiceAccount are always recreated for me, no matter what I do. The code looks just fine at the relevant parts and also your Istio CR seems to be fine, because I tested with that.

If you encounter such anomaly again, you can p

[2021-10-12 13:36] dmndru opened #770 "Warnings about deprecated api version"
**Describe the bug**
There are warnings in operator logs about deprecated api versions:
`W1012 13:23:08.822542       1 warnings.go:70] admissionregistration.k8s.io/v1beta1 ValidatingWebhookConfiguration is deprecated in v1.16+, unavailable in v1.22+; use admissionregistration.k8s.io/v1 ValidatingWebhookConfiguration
W1012 13:23:38.623660       1 warnings.go:70] admissionregistration.k8s.io/v1beta1

[2021-10-12 16:07] Laci21 commented on #770
Hi @dmndru,

Thanks for reporting!

Based on the logs there should be an easy fix for this by using `admissionregistration.k8s.io/v1` for the webhook resources. We'll take a look, but we have some other priorities right now so you might except some delay on this.

Also, if you fancy, feel free to take a stab at it and open PR, it would be appreciated.

[2021-10-13 09:49] dmndru opened #771 "Pod with instio-cni cannot start"
**Describe the bug**
We are using Istio CNI plugin. After upgrading the operator to version 0.10.4 (from 0.9) container repair-cni from the pods with istio-cni fail to start. There is error:
`failed to create containerd task: OCI runtime create failed: container_linux.go:380: starting container process caused: exec: "/opt/cni/bin/istio-cni-repair": stat /opt/cni/bin/istio-cni-repair: no such file

[2021-10-14 10:38] #770 closed, assigned to nobody

[2021-10-14 10:38] #771 closed, assigned to nobody

[2021-10-20 22:55] john-a-joyce opened #778 "Panic during multicluster attach"
**Describe the bug**
In a multicluster scenario the istio-operator throws a panic and crash loops.   This is on version 1.7.7

**Steps to reproduce the issue:**
Create two kind clusters using the default configuration.   Follow the multicluster instructions on the blog page.   After the "attach" step the istio-operator goes into a crash loop.   NOTE:  this was a slight misconfiguration because by

[2021-10-20 22:56] john-a-joyce commented on #778
Here is the log from istio-operator.

{"level":"info","ts":"2021-10-20T17:50:27.041Z","logger":"entrypoint","msg":"setting up client for manager"}
{"level":"info","ts":"2021-10-20T17:50:27.041Z","logger":"entrypoint","msg":"watch all namespaces"}
{"level":"info","ts":"2021-10-20T17:50:27.041Z","logger":"entrypoint","msg":"setting up manager"}
I1020 17:50:28.092416       1 request.go:655] Throttlin

[2021-12-09 15:42] Obirah opened #802 "Make RollingUpdate strategy of Istio components configurable"
**Is your feature request related to a problem? Please describe.**
The `Istio` CustomResource allows users to configure pod anti-affinity for the Istio components. In my case, I'm deploying an ingress gateway with three replicas into three different AWS availability zones by using pod anti-affinity.

Unfortunately, the Deployment of the ingress gateway has the value `maxUnavailable: 25%` in its ro

[2021-12-09 16:01] Laci21 commented on #802
Hi @Obirah,

We have recently completely rewritten the Istio operator, which contains totally new APIs and backward incompatible changes to the versions before. You can find the new version on the [release-1.11](https://github.com/banzaicloud/istio-operator/tree/release-1.11) branch. (We are yet to add documentation to the new version, that's why it was not advertised yet.)

The new version has a

[2021-12-10 13:03] Obirah commented on #802
Hi @Laci21,

thank you so much for the quick response. As we use your operator within an operator of our own that provisions certain Istio components, we will have to refactor our operator in order to migrate.

We'll gladly do so soon-ish. For now, I will close this specific issue and we'll open new ones if we need support during the migration.

[2021-12-10 13:03] #802 closed, assigned to nobody

[2022-01-04 12:35] Tanemahuta opened #806 "API in release-1.11 not usable (protobuf dependency)"
**Describe the bug**
The protobuf marshaller referenced by the API module is not compatible.

**Steps to reproduce the issue:**
1. Create a project and add `require github.com/banzaicloud/istio-operator/api/v2 v2.0.0-20211217152025-f1b654fb609f` to your go.mod.
2. Use IstioMeshGateway struct in your code.
3. Compiling will ultimately fail.

**Expected behavior**
Compiling should succeed.

**Additi

[2022-01-10 16:09] Laci21 commented on #806
Hi @Tanemahuta,

Thanks for raising this issue!

I think you have a completely valid point that it would be nice if the API was usable without any replace directives.

The thing is though that I think we cannot easily require `waynz0r/protobuf` instead of `gogo/protobuf` in the API go.mod, because `gogo/protobuf` is used in a lot of generated GO files in the `api/v1alpha1` directory. So the code g

[2022-01-10 18:23] Tanemahuta commented on #806
All fine. In the meantime adding that replace directive to the go.mod of the API would be nice 🙌 thank you

[2022-01-11 14:56] Laci21 commented on #806
Unfortunately, it doesn't work like that. The other dependencies used in the API go.mod use the `gogo/protobuf` lib and because of that even when `replace github.com/gogo/protobuf => github.com/waynz0r/protobuf v1.3.3-0.20210811122234-64636cae0910` is added to the API go.mod, those other dependencies `require` `gogo/protobuf` in their own go.mod and since `waynz0r/protobuf` has the same go module

[2022-01-11 15:02] Tanemahuta commented on #806
True, I forgot about replace not being transient. Meh. A pity. At least there's a solution and it can be found when searching through the issues.

[2022-01-20 12:17] Tanemahuta opened #808 "IstioControlPlaneSpec Version validation pattern too wide"
**Describe the bug**
The regex validating the version of IstioControlPlaneSpec.Version is too wide. The `.` should be escaped.

**Steps to reproduce the issue:**
Deploy operator chart version 2.0.5. Add a IstioControlPlane with
[code]

**Expected behavior**
Validation fails in the k8s API.

[2022-01-20 16:42] Laci21 commented on #808
Hi @Tanemahuta,

Thanks for the PR! Could you please elaborate on what was your issue? What was the exact IstioControlPlane CR that you used and what issue exactly did you get? Because we are not aware of such issue right now.

Having said that your PR might make sense anyway, we'll review it, we just would like to understand the root issue as well.

[2022-01-20 17:07] Tanemahuta commented on #808
Sure. I tried to deploy the operator (chart 2.0.6) and a controlplane cr.
Could only set version to "1." due to the validation pattern.
Controller failed validation due to version not starting with 1.11. I don't think that this was intentional by the code and the descriptors.

[2022-01-20 17:11] Laci21 commented on #808
You should be able to deploy this: https://github.com/banzaicloud/istio-operator/blob/release-1.11/config/samples/servicemesh_v1alpha1_istiocontrolplane.yaml#L6

[2022-01-20 17:16] Laci21 commented on #808
So it only needs to be started with `1.` because of this pattern: https://github.com/banzaicloud/istio-operator/blob/release-1.11/config/crd/bases/istio-operator-crds.gen.yaml#L6382 (note the `^` at the beginning).

[2022-01-20 18:57] Tanemahuta commented on #808
I have tried that, but the pattern is matched to the full string. Please believe me, i have tried to use 1.11, but the k8s API threw a validation error. I modified the CRD locally and: kazam, it worked.

[2022-01-20 20:21] waynz0r commented on #808
@Tanemahuta,

what was the error the apiserver threw? The `version` field is a string, so `1.11` won't work without quotes like `1.11.5` would for example, but that has nothing to do with the regex pattern.

[2022-01-21 07:55] Tanemahuta commented on #808
@Laci21 and @waynz0r,
First, I have to excuse, the additional description of the issue was misleading and partially wrong.

It was my editor throwing an invalid error when validating the CR against the CRD (seems like the regex was matched against the complete string instead of finding a single match).

When I deployed the spec with `version: "1.12"`, the controller yielded an error (as intended b

[2022-01-21 09:20] Obirah opened #810 "Istiod: metrics port is not usable"
**Describe the bug**
The metrics port of istiod (15014) is not usable.

**Steps to reproduce the issue:**
Try to scrape the istiod, e.g:

[code]

The metrics will not show up in Prometheus.

On the other hand, if you port-forward port 15014 of istiod on your machine, you will be able to see the metrics at `localhost:15014/metrics`

**Expected behavior**
The metrics port should be accessible.

**Ad

[2022-01-21 13:42] Laci21 commented on #810
Hi @Obirah,

Which istio-operator image version are you using? If you are using the latest one `v2.11.5`, then it is build from branch `release-1.11` and it has different code parts compared to what you linked (which is from `release-1.10` branch). And in that case, the correct label would probably be this one:

[code]

Let me know if you indeed use an older version of the operator.

[2022-01-21 15:45] Laci21 commented on #808
Hi Christian,

Let me answer to your requests:

1. Actually, our intention in the helm chart is exactly to match `1.12`, `1.13` or whatever else (matching this regex`^1.`) as well. This is because when we release a new helm chart from our istio operator, which will support Istio 1.12 it should be usable with any other older Istio `1.x` version as well. We don't break backward compatibility and bec

[2022-01-21 15:49] Laci21 commented on #808
Also, the IstioControlPlane CRD is backward compatible as well, which is why the version is used as `^1.`.

[2022-01-21 15:51] Tanemahuta commented on #808
@Laci21 , please read the issue description again. The dot in the regex needs to be escaped, that's what I modified my PR to do.

[2022-01-21 15:53] Obirah commented on #810
I'm using 0.9.3, so an old version, yes.

However, it doesn't make a difference with the new version either. I just tried it (and yes, with your suggested label) and the istiod Deployment that the new operator version created still does not expose port 15014 and hence Prometheus does not scrape anyhting.

[2022-01-21 16:46] Laci21 commented on #808
My bad, you are completely right, that is indeed a bug, thanks for catching and fixing it!

[2022-01-21 17:05] Laci21 commented on #810
If you check the official istio charts, you'll see that they don't add 15014 to istiod either as a `containerPort`, so I don't think that is what's missing: https://github.com/istio/istio/blob/1.11.5/manifests/charts/istio-control/istio-discovery/templates/deployment.yaml#L97-L103

Why I'm pretty sure that this should work is because we use this operator a lot with Prometheus and works just fine,

[2022-01-24 16:06] Laci21 commented on #24
Less relevant now than it was 3 years ago when there were much more CRDs. Now it's not that slow, will reopen and investigate only if needed.

[2022-01-24 16:06] #24 closed

[2022-01-24 16:07] Laci21 commented on #25
Done.

[2022-01-24 16:07] #25 closed, assigned to nobody

[2022-01-24 16:10] Laci21 commented on #43
Obsolete now.

[2022-01-24 16:10] #43 closed

[2022-01-24 16:12] Laci21 commented on #102
Non issue in the rewritten operator.

[2022-01-24 16:12] #102 closed

[2022-01-24 16:17] Laci21 commented on #150
The two projects went somewhat in different directions since then.

[2022-01-24 16:17] #150 closed

[2022-01-24 16:19] Laci21 commented on #164
Static default values are mostly added to the CRDs themselves now.

[2022-01-24 16:19] #164 closed

[2022-01-24 16:25] Laci21 commented on #291
fixed in rewritten operator.

[2022-01-24 16:25] #291 closed

[2022-01-24 16:26] Laci21 commented on #316
This effort has been discontinued, AFAIK.

[2022-01-24 16:26] #316 closed

[2022-01-24 16:28] Laci21 commented on #356
In the newest version we use GO modules, separate API module and k8s 1.20 libs.

[2022-01-24 16:28] #356 closed

[2022-01-24 16:30] Laci21 commented on #470
Old version, this feature is not present anymore in newer versions.

Cheers @khernyo! ;)

[2022-01-24 16:30] #470 closed

[2022-01-24 16:32] Laci21 commented on #643
This is fixed in the latest version.

[2022-01-24 16:32] #643 closed, assigned to nobody

[2022-01-24 16:32] #42 closed

[2022-01-24 16:32] #106 closed

[2022-01-24 16:34] Laci21 commented on #678
I close this because we couldn't reproduce, but feel free to reopen if you experience this with the latest version.

[2022-01-24 16:34] #678 closed, assigned to nobody

[2022-01-24 16:40] Laci21 commented on #808
Fixed in #809.

[2022-01-24 16:40] #808 closed, assigned to nobody

[2022-01-24 16:44] #123 closed

[2022-01-25 08:32] Laci21 commented on #778
Cannot reproduce anymore.

[2022-01-25 08:32] #778 closed, assigned to nobody

[2022-01-26 13:18] Tanemahuta opened #814 "Istio MeshGateway Deployment lacking status port exposal."
**Describe the bug**
Istio MeshGateway Deployment container does not expose status port (15020).

**Steps to reproduce the issue:**
Deploy a ControlPlane. Deploy a MeshGateway for the CP.

**Expected behavior**
No errors regarding scraping port.

[2022-02-01 07:06] Tanemahuta opened #818 "IstioMeshGateway reconciliation does not honor spec.Deployment.Image value"
**Describe the bug**
When reconciling an `IstioMeshGateway` with `spec.deployment.image` set, the image is not used in the deployment.

**Steps to reproduce the issue:**
Create
[code]

**Expected behavior**
The deployment derived from the CR uses the image provided in the spec.

**Additional context**
Operator version: v2.11.6

[2022-02-02 11:46] Obirah commented on #810
I got my ServiceMonitor to work now, the `targetLabel` was the culprit in my case - I had to remove it.

[2022-02-02 11:46] #810 closed, assigned to nobody

[2022-02-02 13:44] Laci21 commented on #814
#815 merged.

[2022-02-02 13:44] #814 closed, assigned to nobody

[2022-02-02 13:45] Laci21 commented on #818
#820 merged

[2022-02-02 13:45] #818 closed, assigned to nobody

[2022-03-30 08:34] 13567436138 opened #843 "the workload is not injected with sidecar,is that the namespace with istio-injection=enabled label,the workload will be injected"
**Describe the bug**
A clear and concise description of what the bug is.
the workload is not injected with sidecar,is that the namespace with istio-injection=enabled label,the workload will be injected
**Steps to reproduce the issue:**
Please describe the steps to reproduce the issue.
I installed istio-operator,and istio,everything seems ok.but the workload did not injected with sidecar
**Expected

[2022-03-30 09:04] Laci21 commented on #843
Hi,

The `istio.io/rev=<YOUR_ICP_NAME>.istio-system` label should be used on the namespace and no `istio-injection=enabled`.

[2022-03-31 02:28] 13567436138 opened #844 "envoyfilter can not be used，I created a envoyfilter crd，but the workload do not have config updated"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce the issue:**
Please describe the steps to reproduce the issue.
envoyfilter can not be used，I created a envoyfilter crd，but the workload do not have config updated
**Expected behavior**
A clear and concise description of what you expected to happen.
envoyfilter will be effected
**Screenshots**
If applicab

[2022-03-31 07:12] 13567436138 commented on #844
my envoyfilter is flowing:
[code]

 I test envoyfilter in istio-system namespace,It will effective.

[2022-03-31 07:24] 13567436138 commented on #844
pod was started  by:
[code]

I checked everything ,really donot know what's wrong.anyboy can help

[2022-04-01 13:34] Laci21 commented on #844
Create a K8s service for your pod and it should work.

[2022-04-01 13:36] Laci21 commented on #844
I see this with a service present in the Envoy config:
[code]

[2022-04-02 01:29] 13567436138 commented on #844
what kind of service，I create a service for kafka-producer，useless

[2022-04-04 09:50] Laci21 commented on #844
I created a service like this:

[code]

Content can differ, but the point is Istio needs a service for service discovery.

If still not working, please provide more info on your setup. Exact steps what you did, versions, state of your cluster, state of your Envoy configs.

[2022-04-22 05:15] allstar-app[bot] opened #847 "Security Policy violation Branch Protection"
_This issue was automatically created by [Allstar](https://github.com/ossf/allstar/)._

**Security Policy Violation**
Dismiss stale reviews not configured for branch release-1.12

---

This issue will auto resolve when the policy is in compliance.

Issue created by Allstar. See https://github.com/ossf/allstar/ for more information. For questions specific to the repository, please contact the owner

[2022-05-15 10:23] dshmatov commented on #843
Hey @Laci21, got the same result when using the pod annotations for the granular sidecar injection. I've annotated pod with combinations of   `istio.io/rev: "istio-base.istio-system"` and `sidecar.istio.io/inject: "true"` but didn't get success. Have this webhook created:

[code]

[2022-05-24 09:32] Laci21 commented on #843
@dshmatov `istio.io/rev: "istio-base.istio-system"` should be a label, not an annotation. Do you still have this issue?

[2022-08-12 15:04] tiswanso opened #857 "Ability to configure modifications to default injection templates"
**Is your feature request related to a problem? Please describe.**
The istio-operator's built in injection templates are not able to be modified without [applying annotations](https://istio.io/latest/docs/reference/config/annotations/) to each application deployment spec's pod template.  For istio-admins to be able to add custom settings in the injection templates for non-annotated workloads, a me

[2022-08-29 16:39] tiswanso opened #861 "istio-operator ARM support"
**Is your feature request related to a problem? Please describe.**
arm64 will be supported in Istio 1.15: https://github.com/istio/istio/issues/26652#issuecomment-1205368297

This is an enhancment request for istio-operator to be built for ARM and support deploying Istio to ARM target architectures

**Describe the solution you'd like to see**
istio-operator release artifacts built and available fo

[2022-09-02 13:23] Laci21 commented on #857
Thanks @tiswanso for bringing this up!

We would like to allow the users to make changes to these templates without providing the annotations on deployment/pod levels, that's completely fine. Your proposed solution should include a merge logic on our side to the original `sidecar` and `gateway` templates should be merged with the user provided ones. Also, it involves creating a new API, which shou

[2022-09-02 13:36] tiswanso commented on #857
Cool... so the `sidecar` section maps to `sidecarOverride` internally and merge logic would be equivalent to all pods having annotations like `inject.istio.io/templates=sidecar,sidecarOverrid`, right?

That works for me :-)

[2022-09-02 13:38] Laci21 commented on #857
Yes, exactly.

[2022-09-02 21:05] Laci21 commented on #806
@Tanemahuta, this was fixed [here](https://github.com/banzaicloud/istio-operator/pull/860/commits/7cec36ce0c9ee882669a08ab7bfd82ef0351adba#diff-33ef32bf6c23acb95f5902d7097b7a1d5128ca061167ec0716715b0b9eeaa5f6L195-L197) for the `release-1.15` branch.

[2022-09-02 21:06] Laci21 commented on #843
Please reopen, if you still think there is an issue here.

[2022-09-02 21:06] #843 closed, assigned to nobody

[2022-09-02 21:07] Laci21 commented on #844
Please reopen if you still think there is an issue here.

[2022-09-02 21:07] #844 closed, assigned to nobody

[2022-09-16 09:16] Laci21 commented on #806
Reopening because of this PR: https://github.com/banzaicloud/istio-operator/pull/868

[2022-10-22 14:27] stephanie-tavares opened #873 "Failed to reconcile resource could not reconcile istio"
Hello guys,

I have a problem with istio using ingressgateway. I received this error log:

`"timed out waiting for the condition\ncould not execute AfterUpdate func\ngithub.com/banzaicloud/istio-operator/pkg/k8sutil.Reconcile\n\t/go/src/github.com/banzaicloud/istio-operator/pkg/k8sutil/resource.go:153\ngithub.com/banzaicloud/istio-operator/pkg/resources/istiod.(*Reconciler).Reconcile\n\t/go/src/gi

[2022-10-23 21:08] Laci21 commented on #873
Hi!

What's your Istio operator version? How did you enable an ingressgateway, through the `Istio` CR or the `MeshGateway` CR? Could you pls share your `Istio` and/or `MeshGateway` CR yamls as well?

Thanks!

[2022-10-24 14:01] stephanie-tavares commented on #873
@Laci21 hello,

istio version: 1.7.8, using CR.

I've attached the file here because it’s too large:

[istio-operator.yml.zip](https://github.com/banzaicloud/istio-operator/files/9852247/istio-operator.yml.zip)

[2022-10-24 14:09] Laci21 commented on #873
Hi,

I'm looking for the Istio operator's version, not the Istio version. So docker image version of the istio-operator pod.

CR status looks good, ingress gw pods are up and running fine?

[2022-10-24 21:03] stephanie-tavares commented on #873
Sure,

Istio operator's version: /banzaicloud/istio-operator:0.7.8

At the moment yes, are running fine. I'm try to understand what's happening.

[2022-10-26 15:25] Laci21 commented on #873
Based on the error log it seems to be related to istiod deployment/pods. Please check that the istiod deployment and pods are up successfully as they should when you see this error.

There should be a program argument as well for the Istio operator to enable debug logging. With that you might see more (`devel-mode=true` maybe).